In [37]:
import datetime as dt
import pandas as pd

In [17]:
df=pd.read_pickle('./turnstyle_df.zip', compression='zip')
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [18]:
df['time'] = pd.to_datetime(df['time'],format = '%H:%M:%S')
df['date'] = pd.to_datetime(df['date'],format = '%m/%d/%Y')

In [19]:
df=df.drop(columns = ['entry_relative','exit_relative'])

In [14]:
df.drop(columns=['station','scp_address'])

,index,line_name,date,time,description,entry_cumulative,exit_cumulative
0,0,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158
1,1,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165
2,2,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196
3,3,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284
4,4,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350
5,5,NQR456W,2017-04-08,1900-01-01 20:00:00,REGULAR,6128002,2076398
6,6,NQR456W,2017-04-09,1900-01-01 00:00:00,REGULAR,6128172,2076417
7,7,NQR456W,2017-04-09,1900-01-01 04:00:00,REGULAR,6128213,2076419
8,8,NQR456W,2017-04-09,1900-01-01 08:00:00,REGULAR,6128226,2076440
9,9,NQR456W,2017-04-09,1900-01-01 12:00:00,REGULAR,6128293,2076512
10,10,NQR456W,2017-04-09,1900-01-01 16:00:00,REGULAR,6128475,2076556
11,11,NQR456W,2017-04-09,1900-01-01 20:00:00,REGULAR,6128747,2076614
12,12,NQR456W,2017-04-10,1900-01-01 00:00:00,REGULAR,6128894,2076644
13,13,NQR456W,2017-04-10,1900-01-01 04:00:00,REGULAR,6128899,2076647
14,14,NQR456W,2017-04-10,1900-01-01 08:00:00,REGULAR,6128930,2076742
15,15,NQR456W,2017-04-10,1900-01-01 12:00:00,REGULAR,6129094,2077006
16,16,NQR456W,2017-04-10,1900-01-01 16:00:00,REGULAR,6129425,2077079
17,17,NQR456W,2017-04-10,1900-01-01 20:00:00,REGULAR,6130163,2077140
18,18,NQR456W,2017-04-11,1900-01-01 00:00:00,REGULAR,6130400,2077160
19,19,NQR456W,2017-04-11,1900-01-01 04:00:00,REGULAR,6130418,2077163
20,20,NQR456W,2017-04-11,1900-01-01 08:00:00,REGULAR,6130464,2077257
21,21,NQR456W,2017-04-11,1900-01-01 12:00:00,REGULAR,6130613,2077478
22,22,NQR456W,2017-04-11,1900-01-01 16:00:00,REGULAR,6130896,2077564
23,23,NQR456W,2017-04-11,1900-01-01 20:00:00,REGULAR,6131601,2077620
24,24,NQR456W,2017-04-12,1900-01-01 00:00:00,REGULAR,6131824,2077642
25,25,NQR456W,2017-04-12,1900-01-01 04:00:00,REGULAR,6131841,2077647
26,26,NQR456W,2017-04-12,1900-01-01 08:00:00,REGULAR,6131882,2077742
27,27,NQR456W,2017-04-12,1900-01-01 12:00:00,REGULAR,6132037,2077948
28,28,NQR456W,2017-04-12,1900-01-01 16:00:00,REGULAR,6132340,2078018
29,29,NQR456W,2017-04-12,1900-01-01 20:00:00,REGULAR,6133044,2078066
...,...,...,...,...,...,...,...
2179883,197331,R,2017-04-16,1900-01-01 21:00:00,REGULAR,5554,295
2179884,197332,R,2017-04-17,1900-01-01 01:00:00,REGULAR,5554,295
2179885,197333,R,2017-04-17,1900-01-01 05:00:00,REGULAR,5554,295
2179886,197334,R,2017-04-17,1900-01-01 09:00:00,REGULAR,5554,295
2179887,197335,R,2017-04-17,1900-01-01 13:00:00,REGULAR,5554,295
2179888,197336,R,2017-04-17,1900-01-01 17:00:00,REGULAR,5554,295
2179889,197337,R,2017-04-17,1900-01-01 21:00:00,REGULAR,5554,295
2179890,197338,R,2017-04-18,1900-01-01 05:00:00,REGULAR,5554,295
2179891,197339,R,2017-04-18,1900-01-01 09:00:00,REGULAR,5554,295
2179892,197340,R,2017-04-18,1900-01-01 13:00:00,REGULAR,5554,297
2179893,197341,R,2017-04-18,1900-01-01 17:00:00,REGULAR,5554,297
2179894,197342,R,2017-04-18,1900-01-01 21:00:00,REGULAR,5554,297
2179895,197343,R,2017-04-19,1900-01-01 01:00:00,REGULAR,5554,297
2179896,197344,R,2017-04-19,1900-01-01 05:00:00,REGULAR,5554,297
2179897,197345,R,2017-04-19,1900-01-01 09:00:00,REGULAR,5554,297
2179898,197346,R,2017-04-19,1900-01-01 13:00:00,REGULAR,5554,297
2179899,197347,R,2017-04-19,1900-01-01 17:00:00,REGULAR,5554,297
2179900,197348,R,2017-04-19,1900-01-01 21:00:00,REGULAR,5554,297
2179901,197349,R,2017-04-20,1900-01-01 01:00:00,REGULAR,5554,297
2179902,197350,R,2017-04-20,1900-01-01 05:00:00,REGULAR,5554,297
2179903,197351,R,2017-04-20,1900-01-01 09:00:00,REGULAR,5554,297
2179904,197352,R,2017-04-20,1900-01-01 13:00:00,REGULAR,5554,297
2179905,197353,R,2017-04-20,1900-01-01 17:00:00,REGULAR,5554,297
2179906,197354,R,2017-04-20,1900-01-01 21:00:00,REGULAR,5554,297
2179907,197355,R,2017-04-21,1900-01-01 01:00:00,REGULAR,5554,297
2179908,197356,R,2017-04-21,1900-01-01 05:00:00,REGULAR,5554,297
2179909,197357,R,2017-04-21,1900-01-01 09:00:00,REGULAR,5554,297
2179910,197358,R,2017-04-21,1900-01-01 13:00:00,REGULAR,5554,297
2179911,197359,R,2017-04-21,1900-01-01 17:00:00,REGULAR,5554,297
2179912,197360,R,2017-04-21,1900-01-01 21:00:00,REGULAR,5554,297

In [55]:
df_sample = df[:65000].groupby(['station','scp_address','date']).apply(pd.DataFrame.sort_values,'time')
df_sample=df_sample.drop(columns = ['scp_address','station'])
#.groupby(['station','scp_address']).diff()

#df_sample

In [56]:
df_differences=df_sample.groupby(['station','scp_address']).diff()

In [57]:
df_differences

                                              index   date              time  \
station         scp_address date
1 AV            00-00-00    2017-04-08 33027    NaN    NaT               NaT
                                       33028    1.0 0 days          04:00:00
                                       33029    1.0 0 days          04:00:00
                                       33030    1.0 0 days          04:00:00
                                       33031    1.0 0 days          04:00:00
                                       33032    1.0 0 days          04:00:00
                            2017-04-09 33033    1.0 1 days -1 days +04:00:00
                                       33034    1.0 0 days          04:00:00
                                       33035    1.0 0 days          04:00:00
                                       33036    1.0 0 days          04:00:00
                                       33037    1.0 0 days          04:00:00
                                       33038    1.0 0 days          04:00:00
                            2017-04-10 33039    1.0 1 days -1 days +04:00:00
                                       33040    1.0 0 days          04:00:00
                                       33041    1.0 0 days          04:00:00
                                       33042    1.0 0 days          04:00:00
                                       33043    1.0 0 days          04:00:00
                                       33044    1.0 0 days          04:00:00
                            2017-04-11 33045    1.0 1 days -1 days +04:00:00
                                       33046    1.0 0 days          04:00:00
                                       33047    1.0 0 days          04:00:00
                                       33048    1.0 0 days          04:00:00
                                       33049    1.0 0 days          04:00:00
                                       33050    1.0 0 days          04:00:00
                            2017-04-12 33051    1.0 1 days -1 days +04:00:00
                                       33052    1.0 0 days          04:00:00
                                       33053    1.0 0 days          04:00:00
                                       33054    1.0 0 days          04:00:00
                                       33055    1.0 0 days          04:00:00
                                       33056    1.0 0 days          04:00:00
...                                             ...    ...               ...
WORLD TRADE CTR 01-06-04    2017-04-10 60986    1.0 1 days -1 days +04:00:00
                                       60987    1.0 0 days          04:00:00
                                       60988    1.0 0 days          04:00:00
                                       60989    1.0 0 days          04:00:00
                                       60990    1.0 0 days          04:00:00
                                       60991    1.0 0 days          04:00:00
                            2017-04-11 60992    1.0 1 days -1 days +04:00:00
                                       60993    1.0 0 days          04:00:00
                                       60994    1.0 0 days          04:00:00
                                       60995    1.0 0 days          04:00:00
                                       60996    1.0 0 days          04:00:00
                                       60997    1.0 0 days          04:00:00
                            2017-04-12 60998    1.0 1 days -1 days +04:00:00
                                       60999    1.0 0 days          04:00:00
                                       61000    1.0 0 days          04:00:00
                                       61001    1.0 0 days          04:00:00
                                       61002    1.0 0 days          04:00:00
                                       61003    1.0 0 days          04:00:00
                            2017-04-13 61004    1.0 1 days -1 days +04:00:00
                                       61005    1.0 0 days          04:00:00
                                       61006    1.0 0 days          04:00:00
                                       61007    1.0 0 days          04:00:00
                                       61008    1.0 0 days          04:00:00
                                       61009    1.0 0 days          04:00:00
                            2017-04-14 61010    1.0 1 days -1 days +04:00:00
                                       61011    1.0 0 days          04:00:00
                                       61012    1.0 0 days          04:00:00
                                       61013    1.0 0 days          04:00:00
                                       61014    1.0 0 days          04:00:00
                                       61015    1.0 0 days          04:00:00

                                              entry_cumulative  \
station         scp_address date
1 AV            00-00-00    2017-04-08 33027               NaN
                                       33028             119.0
                                       33029              95.0
                                       33030             504.0
                                       33031             605.0
                                       33032             717.0
                            2017-04-09 33033             414.0
                                       33034             131.0
                                       33035              55.0
                                       33036             370.0
                                       33037             663.0
                                       33038             523.0
                            2017-04-10 33039             323.0
                                       33040              36.0
                                       33041             308.0
                                       33042            1085.0
                                       33043             694.0
                                       33044             862.0
                            2017-04-11 33045             335.0
                                       33046              36.0
                                       33047             304.0
                                       33048            1044.0
                                       33049             703.0
                                       33050             297.0
                            2017-04-12 33051             385.0
                                       33052              47.0
                                       33053             327.0
                                       33054            1152.0
                                       33055             611.0
                                       33056             681.0
...                                                        ...
WORLD TRADE CTR 01-06-04    2017-04-10 60986              31.0
                                       60987               3.0
                                       60988              29.0
                                       60989             112.0
                                       60990             135.0
                                       60991             368.0
                            2017-04-11 60992              39.0
                                       60993               3.0
                                       60994              28.0
                                       60995              88.0
                                       60996             139.0
                                       60997             382.0
                            2017-04-12 60998              40.0
                                       60999               8.0
                                       61000              19.0
                                       61001             120.0
                                       61002              98.0
                                       61003             338.0
                            2017-04-13 61004              37.0
                                       61005               2.0
                                       61006              17.0
                                       61007              95.0
                                       61008             128.0
                                       61009             449.0
                            2017-04-14 61010              51.0
                                       61011               3.0
                                       61012              14.0
                                       61013              81.0
                                       61014             203.0
                                       61015             280.0

                                              exit_cumulative
station         scp_address date
1 AV            00-00-00    2017-04-08 33027              NaN
                                       33028            276.0
                                       33029            269.0
                                       33030            758.0
                                       33031           1082.0
                                       33032           1321.0
                            2017-04-09 33033           1005.0
                                       33034            375.0
                                       33035            197.0
                                       33036            556.0
                                       33037           1004.0
                                       33038            917.0
                            2017-04-10 33039            523.0
                                       33040             69.0
                                       33041            692.0
                                       33042           1148.0
                                       33043            836.0
                                       33044            751.0
                            2017-04-11 33045            451.0
                                       33046            112.0
                                       33047            755.0
                                       33048            959.0
                                       33049            829.0
                                       33050            582.0
                            2017-04-12 33051            569.0
                                       33052             98.0
                                       33053            744.0
                                       33054           1204.0
                                       33055            762.0
                                       33056            748.0
...                                                       ...
WORLD TRADE CTR 01-06-04    2017-04-10 60986             38.0
                                       60987              8.0
                                       60988             38.0
                                       60989            210.0
                                       60990            162.0
                                       60991            344.0
                            2017-04-11 60992             57.0
                                       60993              2.0
                                       60994             31.0
                                       60995            183.0
                                       60996            186.0
                                       60997            316.0
                            2017-04-12 60998             43.0
                                       60999              8.0
                                       61000             30.0
                                       61001            185.0
                                       61002            113.0
                                       61003            311.0
                            2017-04-13 61004             51.0
                                       61005              5.0
                                       61006             33.0
                                       61007            268.0
                                       61008            208.0
                                       61009            384.0
                            2017-04-14 61010             47.0
                                       61011              3.0
                                       61012             19.0
                                       61013            206.0
                                       61014            188.0
                                       61015            287.0

[65000 rows x 5 columns]

In [58]:
df_differences.loc[(df_differences['time'] != dt.timedelta(days=-1,hours=4)) & (df_differences['time'] != dt.timedelta(hours = 4))]

                                              index   date     time  \
station         scp_address date
1 AV            00-00-00    2017-04-08 33027    NaN    NaT      NaT
                            2017-04-13 33060    1.0 0 days 00:56:35
                                       33061    1.0 0 days 03:03:25
                00-00-01    2017-04-08 33070    NaN    NaT      NaT
                            2017-04-13 33103    1.0 0 days 00:56:35
                                       33104    1.0 0 days 03:03:25
                00-03-00    2017-04-08 33113    NaN    NaT      NaT
                            2017-04-13 33146    1.0 0 days 00:56:35
                                       33147    1.0 0 days 03:03:25
                00-03-01    2017-04-08 33156    NaN    NaT      NaT
                            2017-04-13 33189    1.0 0 days 00:56:35
                                       33190    1.0 0 days 03:03:25
                00-03-02    2017-04-08 33199    NaN    NaT      NaT
                            2017-04-13 33232    1.0 0 days 00:56:35
                                       33233    1.0 0 days 03:03:25
                01-00-00    2017-04-08 33242    NaN    NaT      NaT
                01-00-01    2017-04-08 33284    NaN    NaT      NaT
                01-00-02    2017-04-08 33326    NaN    NaT      NaT
                01-00-03    2017-04-08 33368    NaN    NaT      NaT
                01-00-04    2017-04-08 33410    NaN    NaT      NaT
103 ST          00-00-00    2017-04-08 48682    NaN    NaT      NaT
                            2017-04-11 48702    1.0 0 days 02:40:20
                                       48703    1.0 0 days 01:19:40
                00-00-01    2017-04-08 48725    NaN    NaT      NaT
                            2017-04-11 48745    1.0 0 days 02:40:20
                                       48746    1.0 0 days 01:19:40
                00-00-02    2017-04-08 48768    NaN    NaT      NaT
                            2017-04-11 48788    1.0 0 days 02:40:20
                                       48789    1.0 0 days 01:19:40
104 ST          00-00-00    2017-04-08 42146    NaN    NaT      NaT
...                                             ...    ...      ...
WILSON AV       00-00-02    2017-04-08 36605    NaN    NaT      NaT
                00-05-00    2017-04-08 36647    NaN    NaT      NaT
                00-05-01    2017-04-08 36689    NaN    NaT      NaT
WOODHAVEN BLVD  00-00-00    2017-04-08 41806    NaN    NaT      NaT
                            2017-04-10 41821    1.0 0 days 01:00:52
                                       41822    1.0 0 days 02:59:08
                00-00-01    2017-04-08 41849    NaN    NaT      NaT
                            2017-04-10 41864    1.0 0 days 01:00:52
                                       41865    1.0 0 days 02:59:08
                00-00-02    2017-04-08 41892    NaN    NaT      NaT
                            2017-04-10 41907    1.0 0 days 01:00:52
                                       41908    1.0 0 days 02:59:08
                00-00-03    2017-04-08 41935    NaN    NaT      NaT
                            2017-04-10 41950    1.0 0 days 01:00:52
                                       41951    1.0 0 days 02:59:08
                01-05-00    2017-04-08 41978    NaN    NaT      NaT
                01-05-01    2017-04-08 42020    NaN    NaT      NaT
                01-06-00    2017-04-08 42062    NaN    NaT      NaT
                01-06-01    2017-04-08 42104    NaN    NaT      NaT
WORLD TRADE CTR 01-00-00    2017-04-08 60554    NaN    NaT      NaT
                01-00-01    2017-04-08 60596    NaN    NaT      NaT
                01-00-02    2017-04-08 60638    NaN    NaT      NaT
                01-00-03    2017-04-08 60680    NaN    NaT      NaT
                01-05-00    2017-04-08 60722    NaN    NaT      NaT
                01-05-01    2017-04-08 60764    NaN    NaT      NaT
                01-06-00    2017-04-08 60806    NaN    NaT      NaT
                01-06-01    2017-04-08 60848    NaN    NaT      NaT
                01-06-02    2017-04-08 60890    NaN    NaT      NaT
                01-06-03    2017-04-08 60932    NaN    NaT      NaT
                01-06-04    2017-04-08 60974    NaN    NaT      NaT

                                              entry_cumulative  \
station         scp_address date
1 AV            00-00-00    2017-04-08 33027               NaN
                            2017-04-13 33060             500.0
                                       33061             736.0
                00-00-01    2017-04-08 33070               NaN
                            2017-04-13 33103             605.0
                                       33104             915.0
                00-03-00    2017-04-08 33113               NaN
                            2017-04-13 33146             164.0
                                       33147             282.0
                00-03-01    2017-04-08 33156               NaN
                            2017-04-13 33189             142.0
                                       33190             203.0
                00-03-02    2017-04-08 33199               NaN
                            2017-04-13 33232             163.0
                                       33233             308.0
                01-00-00    2017-04-08 33242               NaN
                01-00-01    2017-04-08 33284               NaN
                01-00-02    2017-04-08 33326               NaN
                01-00-03    2017-04-08 33368               NaN
                01-00-04    2017-04-08 33410               NaN
103 ST          00-00-00    2017-04-08 48682               NaN
                            2017-04-11 48702             243.0
                                       48703             388.0
                00-00-01    2017-04-08 48725               NaN
                            2017-04-11 48745             114.0
                                       48746             289.0
                00-00-02    2017-04-08 48768               NaN
                            2017-04-11 48788              48.0
                                       48789             129.0
104 ST          00-00-00    2017-04-08 42146               NaN
...                                                        ...
WILSON AV       00-00-02    2017-04-08 36605               NaN
                00-05-00    2017-04-08 36647               NaN
                00-05-01    2017-04-08 36689               NaN
WOODHAVEN BLVD  00-00-00    2017-04-08 41806               NaN
                            2017-04-10 41821             100.0
                                       41822             135.0
                00-00-01    2017-04-08 41849               NaN
                            2017-04-10 41864              61.0
                                       41865              76.0
                00-00-02    2017-04-08 41892               NaN
                            2017-04-10 41907              49.0
                                       41908              92.0
                00-00-03    2017-04-08 41935               NaN
                            2017-04-10 41950             131.0
                                       41951             179.0
                01-05-00    2017-04-08 41978               NaN
                01-05-01    2017-04-08 42020               NaN
                01-06-00    2017-04-08 42062               NaN
                01-06-01    2017-04-08 42104               NaN
WORLD TRADE CTR 01-00-00    2017-04-08 60554               NaN
                01-00-01    2017-04-08 60596               NaN
                01-00-02    2017-04-08 60638               NaN
                01-00-03    2017-04-08 60680               NaN
                01-05-00    2017-04-08 60722               NaN
                01-05-01    2017-04-08 60764               NaN
                01-06-00    2017-04-08 60806               NaN
                01-06-01    2017-04-08 60848               NaN
                01-06-02    2017-04-08 60890               NaN
                01-06-03    2017-04-08 60932               NaN
                01-06-04    2017-04-08 60974               NaN

                                              exit_cumulative
station         scp_address date
1 AV            00-00-00    2017-04-08 33027              NaN
                            2017-04-13 33060            326.0
                                       33061            814.0
                00-00-01    2017-04-08 33070              NaN
                            2017-04-13 33103             42.0
                                       33104            354.0
                00-03-00    2017-04-08 33113              NaN
                            2017-04-13 33146            196.0
                                       33147            233.0
                00-03-01    2017-04-08 33156              NaN
                            2017-04-13 33189             77.0
                                       33190             56.0
                00-03-02    2017-04-08 33199              NaN
                            2017-04-13 33232             16.0
                                       33233             12.0
                01-00-00    2017-04-08 33242              NaN
                01-00-01    2017-04-08 33284              NaN
                01-00-02    2017-04-08 33326              NaN
                01-00-03    2017-04-08 33368              NaN
                01-00-04    2017-04-08 33410              NaN
103 ST          00-00-00    2017-04-08 48682              NaN
                            2017-04-11 48702             56.0
                                       48703             54.0
                00-00-01    2017-04-08 48725              NaN
                            2017-04-11 48745             19.0
                                       48746             39.0
                00-00-02    2017-04-08 48768              NaN
                            2017-04-11 48788             47.0
                                       48789             86.0
104 ST          00-00-00    2017-04-08 42146              NaN
...                                                       ...
WILSON AV       00-00-02    2017-04-08 36605              NaN
                00-05-00    2017-04-08 36647              NaN
                00-05-01    2017-04-08 36689              NaN
WOODHAVEN BLVD  00-00-00    2017-04-08 41806              NaN
                            2017-04-10 41821             26.0
                                       41822             66.0
                00-00-01    2017-04-08 41849              NaN
                            2017-04-10 41864             18.0
                                       41865             14.0
                00-00-02    2017-04-08 41892              NaN
                            2017-04-10 41907              5.0
                                       41908             19.0
                00-00-03    2017-04-08 41935              NaN
                            2017-04-10 41950              9.0
                                       41951             28.0
                01-05-00    2017-04-08 41978              NaN
                01-05-01    2017-04-08 42020              NaN
                01-06-00    2017-04-08 42062              NaN
                01-06-01    2017-04-08 42104              NaN
WORLD TRADE CTR 01-00-00    2017-04-08 60554              NaN
                01-00-01    2017-04-08 60596              NaN
                01-00-02    2017-04-08 60638              NaN
                01-00-03    2017-04-08 60680              NaN
                01-05-00    2017-04-08 60722              NaN
                01-05-01    2017-04-08 60764              NaN
                01-06-00    2017-04-08 60806              NaN
                01-06-01    2017-04-08 60848              NaN
                01-06-02    2017-04-08 60890              NaN
                01-06-03    2017-04-08 60932              NaN
                01-06-04    2017-04-08 60974              NaN

[12373 rows x 5 columns]

In [53]:
dt