In [310]:
import datetime as dt
import pandas as pd

In [311]:
df=pd.read_pickle('./turnstyle_df.zip', compression='zip')
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [312]:
df['time'] = pd.to_datetime(df['time'],format = '%H:%M:%S')
df['date'] = pd.to_datetime(df['date'],format = '%m/%d/%Y')

In [313]:
df=df.drop(columns = ['entry_relative','exit_relative'])

In [213]:
# df.drop(columns=['station','scp_address'])
df

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350
5,5,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 20:00:00,REGULAR,6128002,2076398
6,6,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 00:00:00,REGULAR,6128172,2076417
7,7,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 04:00:00,REGULAR,6128213,2076419
8,8,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 08:00:00,REGULAR,6128226,2076440
9,9,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 12:00:00,REGULAR,6128293,2076512
10,10,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 16:00:00,REGULAR,6128475,2076556
11,11,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 20:00:00,REGULAR,6128747,2076614
12,12,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 00:00:00,REGULAR,6128894,2076644
13,13,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 04:00:00,REGULAR,6128899,2076647
14,14,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 08:00:00,REGULAR,6128930,2076742
15,15,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 12:00:00,REGULAR,6129094,2077006
16,16,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 16:00:00,REGULAR,6129425,2077079
17,17,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 20:00:00,REGULAR,6130163,2077140
18,18,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 00:00:00,REGULAR,6130400,2077160
19,19,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 04:00:00,REGULAR,6130418,2077163
20,20,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 08:00:00,REGULAR,6130464,2077257
21,21,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 12:00:00,REGULAR,6130613,2077478
22,22,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 16:00:00,REGULAR,6130896,2077564
23,23,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 20:00:00,REGULAR,6131601,2077620
24,24,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 00:00:00,REGULAR,6131824,2077642
25,25,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 04:00:00,REGULAR,6131841,2077647
26,26,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 08:00:00,REGULAR,6131882,2077742
27,27,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 12:00:00,REGULAR,6132037,2077948
28,28,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 16:00:00,REGULAR,6132340,2078018
29,29,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 20:00:00,REGULAR,6133044,2078066
...,...,...,...,...,...,...,...,...,...
2179883,197331,00-05-01,RIT-ROOSEVELT,R,2017-04-16,1900-01-01 21:00:00,REGULAR,5554,295
2179884,197332,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 01:00:00,REGULAR,5554,295
2179885,197333,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 05:00:00,REGULAR,5554,295
2179886,197334,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 09:00:00,REGULAR,5554,295
2179887,197335,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 13:00:00,REGULAR,5554,295
2179888,197336,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 17:00:00,REGULAR,5554,295
2179889,197337,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 21:00:00,REGULAR,5554,295
2179890,197338,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 05:00:00,REGULAR,5554,295
2179891,197339,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 09:00:00,REGULAR,5554,295
2179892,197340,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 13:00:00,REGULAR,5554,297
2179893,197341,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 17:00:00,REGULAR,5554,297
2179894,197342,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 21:00:00,REGULAR,5554,297
2179895,197343,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 01:00:00,REGULAR,5554,297
2179896,197344,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 05:00:00,REGULAR,5554,297
2179897,197345,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 09:00:00,REGULAR,5554,297
2179898,197346,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 13:00:00,REGULAR,5554,297
2179899,197347,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 17:00:00,REGULAR,5554,297
2179900,197348,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 21:00:00,REGULAR,5554,297
2179901,197349,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 01:00:00,REGULAR,5554,297
2179902,197350,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 05:00:00,REGULAR,5554,297
2179903,197351,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 09:00:00,REGULAR,5554,297
2179904,197352,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 13:00:00,REGULAR,5554,297
2179905,197353,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 17:00:00,REGULAR,5554,297
2179906,197354,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 21:00:00,REGULAR,5554,297
2179907,197355,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 01:00:00,REGULAR,5554,297
2179908,197356,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 05:00:00,REGULAR,5554,297
2179909,197357,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 09:00:00,REGULAR,5554,297
2179910,197358,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 13:00:00,REGULAR,5554,297
2179911,197359,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 17:00:00,REGULAR,5554,297
2179912,197360,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 21:00:00,REGULAR,5554,297

In [314]:
df_sample = df[:65000].groupby(['station','line_name','scp_address','date']).apply(pd.DataFrame.sort_values,'time')
df_sample=df_sample.drop(columns = ['scp_address','station','line_name'])
#.groupby(['station','scp_address']).diff()
df_sample

                                                        index       date  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027  33027 2017-04-08
                                                 33028  33028 2017-04-08
                                                 33029  33029 2017-04-08
                                                 33030  33030 2017-04-08
                                                 33031  33031 2017-04-08
                                                 33032  33032 2017-04-08
                                      2017-04-09 33033  33033 2017-04-09
                                                 33034  33034 2017-04-09
                                                 33035  33035 2017-04-09
                                                 33036  33036 2017-04-09
                                                 33037  33037 2017-04-09
                                                 33038  33038 2017-04-09
                                      2017-04-10 33039  33039 2017-04-10
                                                 33040  33040 2017-04-10
                                                 33041  33041 2017-04-10
                                                 33042  33042 2017-04-10
                                                 33043  33043 2017-04-10
                                                 33044  33044 2017-04-10
                                      2017-04-11 33045  33045 2017-04-11
                                                 33046  33046 2017-04-11
                                                 33047  33047 2017-04-11
                                                 33048  33048 2017-04-11
                                                 33049  33049 2017-04-11
                                                 33050  33050 2017-04-11
                                      2017-04-12 33051  33051 2017-04-12
                                                 33052  33052 2017-04-12
                                                 33053  33053 2017-04-12
                                                 33054  33054 2017-04-12
                                                 33055  33055 2017-04-12
                                                 33056  33056 2017-04-12
...                                                       ...        ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986  60986 2017-04-10
                                                 60987  60987 2017-04-10
                                                 60988  60988 2017-04-10
                                                 60989  60989 2017-04-10
                                                 60990  60990 2017-04-10
                                                 60991  60991 2017-04-10
                                      2017-04-11 60992  60992 2017-04-11
                                                 60993  60993 2017-04-11
                                                 60994  60994 2017-04-11
                                                 60995  60995 2017-04-11
                                                 60996  60996 2017-04-11
                                                 60997  60997 2017-04-11
                                      2017-04-12 60998  60998 2017-04-12
                                                 60999  60999 2017-04-12
                                                 61000  61000 2017-04-12
                                                 61001  61001 2017-04-12
                                                 61002  61002 2017-04-12
                                                 61003  61003 2017-04-12
                                      2017-04-13 61004  61004 2017-04-13
                                                 61005  61005 2017-04-13
                                                 61006  61006 2017-04-13
                                                 61007  61007 2017-04-13
                                                 61008  61008 2017-04-13
                                                 61009  61009 2017-04-13
                                      2017-04-14 61010  61010 2017-04-14
                                                 61011  61011 2017-04-14
                                                 61012  61012 2017-04-14
                                                 61013  61013 2017-04-14
                                                 61014  61014 2017-04-14
                                                 61015  61015 2017-04-14

                                                                      time  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027 1900-01-01 00:00:00
                                                 33028 1900-01-01 04:00:00
                                                 33029 1900-01-01 08:00:00
                                                 33030 1900-01-01 12:00:00
                                                 33031 1900-01-01 16:00:00
                                                 33032 1900-01-01 20:00:00
                                      2017-04-09 33033 1900-01-01 00:00:00
                                                 33034 1900-01-01 04:00:00
                                                 33035 1900-01-01 08:00:00
                                                 33036 1900-01-01 12:00:00
                                                 33037 1900-01-01 16:00:00
                                                 33038 1900-01-01 20:00:00
                                      2017-04-10 33039 1900-01-01 00:00:00
                                                 33040 1900-01-01 04:00:00
                                                 33041 1900-01-01 08:00:00
                                                 33042 1900-01-01 12:00:00
                                                 33043 1900-01-01 16:00:00
                                                 33044 1900-01-01 20:00:00
                                      2017-04-11 33045 1900-01-01 00:00:00
                                                 33046 1900-01-01 04:00:00
                                                 33047 1900-01-01 08:00:00
                                                 33048 1900-01-01 12:00:00
                                                 33049 1900-01-01 16:00:00
                                                 33050 1900-01-01 20:00:00
                                      2017-04-12 33051 1900-01-01 00:00:00
                                                 33052 1900-01-01 04:00:00
                                                 33053 1900-01-01 08:00:00
                                                 33054 1900-01-01 12:00:00
                                                 33055 1900-01-01 16:00:00
                                                 33056 1900-01-01 20:00:00
...                                                                    ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986 1900-01-01 00:00:00
                                                 60987 1900-01-01 04:00:00
                                                 60988 1900-01-01 08:00:00
                                                 60989 1900-01-01 12:00:00
                                                 60990 1900-01-01 16:00:00
                                                 60991 1900-01-01 20:00:00
                                      2017-04-11 60992 1900-01-01 00:00:00
                                                 60993 1900-01-01 04:00:00
                                                 60994 1900-01-01 08:00:00
                                                 60995 1900-01-01 12:00:00
                                                 60996 1900-01-01 16:00:00
                                                 60997 1900-01-01 20:00:00
                                      2017-04-12 60998 1900-01-01 00:00:00
                                                 60999 1900-01-01 04:00:00
                                                 61000 1900-01-01 08:00:00
                                                 61001 1900-01-01 12:00:00
                                                 61002 1900-01-01 16:00:00
                                                 61003 1900-01-01 20:00:00
                                      2017-04-13 61004 1900-01-01 00:00:00
                                                 61005 1900-01-01 04:00:00
                                                 61006 1900-01-01 08:00:00
                                                 61007 1900-01-01 12:00:00
                                                 61008 1900-01-01 16:00:00
                                                 61009 1900-01-01 20:00:00
                                      2017-04-14 61010 1900-01-01 00:00:00
                                                 61011 1900-01-01 04:00:00
                                                 61012 1900-01-01 08:00:00
                                                 61013 1900-01-01 12:00:00
                                                 61014 1900-01-01 16:00:00
                                                 61015 1900-01-01 20:00:00

                                                       description  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027     REGULAR
                                                 33028     REGULAR
                                                 33029     REGULAR
                                                 33030     REGULAR
                                                 33031     REGULAR
                                                 33032     REGULAR
                                      2017-04-09 33033     REGULAR
                                                 33034     REGULAR
                                                 33035     REGULAR
                                                 33036     REGULAR
                                                 33037     REGULAR
                                                 33038     REGULAR
                                      2017-04-10 33039     REGULAR
                                                 33040     REGULAR
                                                 33041     REGULAR
                                                 33042     REGULAR
                                                 33043     REGULAR
                                                 33044     REGULAR
                                      2017-04-11 33045     REGULAR
                                                 33046     REGULAR
                                                 33047     REGULAR
                                                 33048     REGULAR
                                                 33049     REGULAR
                                                 33050     REGULAR
                                      2017-04-12 33051     REGULAR
                                                 33052     REGULAR
                                                 33053     REGULAR
                                                 33054     REGULAR
                                                 33055     REGULAR
                                                 33056     REGULAR
...                                                            ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986     REGULAR
                                                 60987     REGULAR
                                                 60988     REGULAR
                                                 60989     REGULAR
                                                 60990     REGULAR
                                                 60991     REGULAR
                                      2017-04-11 60992     REGULAR
                                                 60993     REGULAR
                                                 60994     REGULAR
                                                 60995     REGULAR
                                                 60996     REGULAR
                                                 60997     REGULAR
                                      2017-04-12 60998     REGULAR
                                                 60999     REGULAR
                                                 61000     REGULAR
                                                 61001     REGULAR
                                                 61002     REGULAR
                                                 61003     REGULAR
                                      2017-04-13 61004     REGULAR
                                                 61005     REGULAR
                                                 61006     REGULAR
                                                 61007     REGULAR
                                                 61008     REGULAR
                                                 61009     REGULAR
                                      2017-04-14 61010     REGULAR
                                                 61011     REGULAR
                                                 61012     REGULAR
                                                 61013     REGULAR
                                                 61014     REGULAR
                                                 61015     REGULAR

                                                        entry_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027          12209707
                                                 33028          12209826
                                                 33029          12209921
                                                 33030          12210425
                                                 33031          12211030
                                                 33032          12211747
                                      2017-04-09 33033          12212161
                                                 33034          12212292
                                                 33035          12212347
                                                 33036          12212717
                                                 33037          12213380
                                                 33038          12213903
                                      2017-04-10 33039          12214226
                                                 33040          12214262
                                                 33041          12214570
                                                 33042          12215655
                                                 33043          12216349
                                                 33044          12217211
                                      2017-04-11 33045          12217546
                                                 33046          12217582
                                                 33047          12217886
                                                 33048          12218930
                                                 33049          12219633
                                                 33050          12219930
                                      2017-04-12 33051          12220315
                                                 33052          12220362
                                                 33053          12220689
                                                 33054          12221841
                                                 33055          12222452
                                                 33056          12223133
...                                                                  ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986           1917104
                                                 60987           1917107
                                                 60988           1917136
                                                 60989           1917248
                                                 60990           1917383
                                                 60991           1917751
                                      2017-04-11 60992           1917790
                                                 60993           1917793
                                                 60994           1917821
                                                 60995           1917909
                                                 60996           1918048
                                                 60997           1918430
                                      2017-04-12 60998           1918470
                                                 60999           1918478
                                                 61000           1918497
                                                 61001           1918617
                                                 61002           1918715
                                                 61003           1919053
                                      2017-04-13 61004           1919090
                                                 61005           1919092
                                                 61006           1919109
                                                 61007           1919204
                                                 61008           1919332
                                                 61009           1919781
                                      2017-04-14 61010           1919832
                                                 61011           1919835
                                                 61012           1919849
                                                 61013           1919930
                                                 61014           1920133
                                                 61015           1920413

                                                        exit_cumulative
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027         13446969
                                                 33028         13447245
                                                 33029         13447514
                                                 33030         13448272
                                                 33031         13449354
                                                 33032         13450675
                                      2017-04-09 33033         13451680
                                                 33034         13452055
                                                 33035         13452252
                                                 33036         13452808
                                                 33037         13453812
                                                 33038         13454729
                                      2017-04-10 33039         13455252
                                                 33040         13455321
                                                 33041         13456013
                                                 33042         13457161
                                                 33043         13457997
                                                 33044         13458748
                                      2017-04-11 33045         13459199
                                                 33046         13459311
                                                 33047         13460066
                                                 33048         13461025
                                                 33049         13461854
                                                 33050         13462436
                                      2017-04-12 33051         13463005

In [215]:
df_differences=df_sample.groupby(['station','line_name','scp_address']).diff()
df_differences.shape

(65000, 5)

In [216]:
df_differences=df_differences.rename(index = str,columns = {'time':'time_delta','entry_cumulative':'entry_relative','exit_cumulative':'exit_relative'})

In [217]:
# df_outliers=df_differences.loc[(df_differences['time'] != dt.timedelta(days=-1,hours=4)) & (df_differences['time'] != dt.timedelta(hours = 4))]

In [177]:
# df_outliers.unstack().shape

(1973, 40540)

In [219]:
#df_outliers.index.tolist()[1][3]
#df_outliers.sample(500)

In [103]:
#len(df_outliers.index.tolist())

12373

                                                         index   date  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027    NaN    NaT
                                                  33028    1.0 0 days
                                                  33029    1.0 0 days
                                                  33030    1.0 0 days
                                                  33031    1.0 0 days

                                                        time_delta  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027        NaT
                                                  33028   04:00:00
                                                  33029   04:00:00
                                                  33030   04:00:00
                                                  33031   04:00:00

                                                         entry_relative  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027             NaN
                                                  33028           119.0
                                                  33029            95.0
                                                  33030           504.0
                                                  33031           605.0

                                                         exit_relative
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027            NaN
                                                  33028          276.0
                                                  33029          269.0
                                                  33030          758.0
                                                  33031         1082.0

In [260]:
df_sample.shape
df_differences.columns
#df_differences.iloc[:,2:5]

In [268]:
df_differences['time_delta']

station          line_name  scp_address  date
1 AV             L          00-00-00     2017-04-08 00:00:00  33027                 NaT
                                                              33028            04:00:00
                                                              33029            04:00:00
                                                              33030            04:00:00
                                                              33031            04:00:00
                                                              33032            04:00:00
                                         2017-04-09 00:00:00  33033   -1 days +04:00:00
                                                              33034            04:00:00
                                                              33035            04:00:00
                                                              33036            04:00:00
                                                              33037            04:00:00
                                                              33038            04:00:00
                                         2017-04-10 00:00:00  33039   -1 days +04:00:00
                                                              33040            04:00:00
                                                              33041            04:00:00
                                                              33042            04:00:00
                                                              33043            04:00:00
                                                              33044            04:00:00
                                         2017-04-11 00:00:00  33045   -1 days +04:00:00
                                                              33046            04:00:00
                                                              33047            04:00:00
                                                              33048            04:00:00
                                                              33049            04:00:00
                                                              33050            04:00:00
                                         2017-04-12 00:00:00  33051   -1 days +04:00:00
                                                              33052            04:00:00
                                                              33053            04:00:00
                                                              33054            04:00:00
                                                              33055            04:00:00
                                                              33056            04:00:00
                                                                             ...
WORLD TRADE CTR  ACE23      01-06-04     2017-04-10 00:00:00  60986   -1 days +04:00:00
                                                              60987            04:00:00
                                                              60988            04:00:00
                                                              60989            04:00:00
                                                              60990            04:00:00
                                                              60991            04:00:00
                                         2017-04-11 00:00:00  60992   -1 days +04:00:00
                                                              60993            04:00:00
                                                              60994            04:00:00
                                                              60995            04:00:00
                                                              60996            04:00:00
                                                              60997            04:00:00
                                         2017-04-12 00:00:00  60998   -1 days +04:00:00
                                                              60999            04:00:00
                                                              61000            04:00:00
                                                              61001            04:00:00
                                                              61002            04:00:00
                                                              61003            04:00:00
                                         2017-04-13 00:00:00  61004   -1 days +04:00:00
                                                              61005            04:00:00
                                                              61006            04:00:00
                                                              61007            04:00:00
                                                              61008            04:00:00
                                                              61009            04:00:00
                                         2017-04-14 00:00:00  61010   -1 days +04:00:00
                                                              61011            04:00:00
                                                              61012            04:00:00
                                                              61013            04:00:00
                                                              61014            04:00:00
                                                              61015            04:00:00
Name: time_delta, Length: 65000, dtype: timedelta64[ns]

In [329]:
df_sample_with_deltas  = df_differences.join(df_sample.set_index('index'), on='index', how='left', lsuffix='_left', rsuffix='_right')
# df_sample_with_deltas = pd.concat([df_sample, df_differences],axis = 0)
#df_sample_with_deltas.reset_index()
#df_sample_with_deltas['entry_relative'] = df_differences.iloc[:,3]
# = df_differences.iloc[:,2]
df_sample_with_deltas

                                                                 index  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027    NaN
                                                          33028    1.0
                                                          33029    1.0
                                                          33030    1.0
                                                          33031    1.0
                                                          33032    1.0
                                      2017-04-09 00:00:00 33033    1.0
                                                          33034    1.0
                                                          33035    1.0
                                                          33036    1.0
                                                          33037    1.0
                                                          33038    1.0
                                      2017-04-10 00:00:00 33039    1.0
                                                          33040    1.0
                                                          33041    1.0
                                                          33042    1.0
                                                          33043    1.0
                                                          33044    1.0
                                      2017-04-11 00:00:00 33045    1.0
                                                          33046    1.0
                                                          33047    1.0
                                                          33048    1.0
                                                          33049    1.0
                                                          33050    1.0
                                      2017-04-12 00:00:00 33051    1.0
                                                          33052    1.0
                                                          33053    1.0
                                                          33054    1.0
                                                          33055    1.0
                                                          33056    1.0
...                                                                ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986    1.0
                                                          60987    1.0
                                                          60988    1.0
                                                          60989    1.0
                                                          60990    1.0
                                                          60991    1.0
                                      2017-04-11 00:00:00 60992    1.0
                                                          60993    1.0
                                                          60994    1.0
                                                          60995    1.0
                                                          60996    1.0
                                                          60997    1.0
                                      2017-04-12 00:00:00 60998    1.0
                                                          60999    1.0
                                                          61000    1.0
                                                          61001    1.0
                                                          61002    1.0
                                                          61003    1.0
                                      2017-04-13 00:00:00 61004    1.0
                                                          61005    1.0
                                                          61006    1.0
                                                          61007    1.0
                                                          61008    1.0
                                                          61009    1.0
                                      2017-04-14 00:00:00 61010    1.0
                                                          61011    1.0
                                                          61012    1.0
                                                          61013    1.0
                                                          61014    1.0
                                                          61015    1.0

                                                                date_left  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027       NaT
                                                          33028    0 days
                                                          33029    0 days
                                                          33030    0 days
                                                          33031    0 days
                                                          33032    0 days
                                      2017-04-09 00:00:00 33033    1 days
                                                          33034    0 days
                                                          33035    0 days
                                                          33036    0 days
                                                          33037    0 days
                                                          33038    0 days
                                      2017-04-10 00:00:00 33039    1 days
                                                          33040    0 days
                                                          33041    0 days
                                                          33042    0 days
                                                          33043    0 days
                                                          33044    0 days
                                      2017-04-11 00:00:00 33045    1 days
                                                          33046    0 days
                                                          33047    0 days
                                                          33048    0 days
                                                          33049    0 days
                                                          33050    0 days
                                      2017-04-12 00:00:00 33051    1 days
                                                          33052    0 days
                                                          33053    0 days
                                                          33054    0 days
                                                          33055    0 days
                                                          33056    0 days
...                                                                   ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986    1 days
                                                          60987    0 days
                                                          60988    0 days
                                                          60989    0 days
                                                          60990    0 days
                                                          60991    0 days
                                      2017-04-11 00:00:00 60992    1 days
                                                          60993    0 days
                                                          60994    0 days
                                                          60995    0 days
                                                          60996    0 days
                                                          60997    0 days
                                      2017-04-12 00:00:00 60998    1 days
                                                          60999    0 days
                                                          61000    0 days
                                                          61001    0 days
                                                          61002    0 days
                                                          61003    0 days
                                      2017-04-13 00:00:00 61004    1 days
                                                          61005    0 days
                                                          61006    0 days
                                                          61007    0 days
                                                          61008    0 days
                                                          61009    0 days
                                      2017-04-14 00:00:00 61010    1 days
                                                          61011    0 days
                                                          61012    0 days
                                                          61013    0 days
                                                          61014    0 days
                                                          61015    0 days

                                                                       time_delta  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027               NaT
                                                          33028          04:00:00
                                                          33029          04:00:00
                                                          33030          04:00:00
                                                          33031          04:00:00
                                                          33032          04:00:00
                                      2017-04-09 00:00:00 33033 -1 days +04:00:00
                                                          33034          04:00:00
                                                          33035          04:00:00
                                                          33036          04:00:00
                                                          33037          04:00:00
                                                          33038          04:00:00
                                      2017-04-10 00:00:00 33039 -1 days +04:00:00
                                                          33040          04:00:00
                                                          33041          04:00:00
                                                          33042          04:00:00
                                                          33043          04:00:00
                                                          33044          04:00:00
                                      2017-04-11 00:00:00 33045 -1 days +04:00:00
                                                          33046          04:00:00
                                                          33047          04:00:00
                                                          33048          04:00:00
                                                          33049          04:00:00
                                                          33050          04:00:00
                                      2017-04-12 00:00:00 33051 -1 days +04:00:00
                                                          33052          04:00:00
                                                          33053          04:00:00
                                                          33054          04:00:00
                                                          33055          04:00:00
                                                          33056          04:00:00
...                                                                           ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986 -1 days +04:00:00
                                                          60987          04:00:00
                                                          60988          04:00:00
                                                          60989          04:00:00
                                                          60990          04:00:00
                                                          60991          04:00:00
                                      2017-04-11 00:00:00 60992 -1 days +04:00:00
                                                          60993          04:00:00
                                                          60994          04:00:00
                                                          60995          04:00:00
                                                          60996          04:00:00
                                                          60997          04:00:00
                                      2017-04-12 00:00:00 60998 -1 days +04:00:00
                                                          60999          04:00:00
                                                          61000          04:00:00
                                                          61001          04:00:00
                                                          61002          04:00:00
                                                          61003          04:00:00
                                      2017-04-13 00:00:00 61004 -1 days +04:00:00
                                                          61005          04:00:00
                                                          61006          04:00:00
                                                          61007          04:00:00
                                                          61008          04:00:00
                                                          61009          04:00:00
                                      2017-04-14 00:00:00 61010 -1 days +04:00:00
                                                          61011          04:00:00
                                                          61012          04:00:00
                                                          61013          04:00:00
                                                          61014          04:00:00
                                                          61015          04:00:00

                                                                 entry_relative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027             NaN
                                                          33028           119.0
                                                          33029            95.0
                                                          33030           504.0
                                                          33031           605.0
                                                          33032           717.0
                                      2017-04-09 00:00:00 33033           414.0
                                                          33034           131.0
                                                          33035            55.0
                                                          33036           370.0
                                                          33037           663.0
                                                          33038           523.0
                                      2017-04-10 00:00:00 33039           323.0
                                                          33040            36.0
                                                          33041           308.0
                                                          33042          1085.0
                                                          33043           694.0
                                                          33044           862.0
                                      2017-04-11 00:00:00 33045           335.0
                                                          33046            36.0
                                                          33047           304.0
                                                          33048          1044.0
                                                          33049           703.0
                                                          33050           297.0
                                      2017-04-12 00:00:00 33051           385.0
                                                          33052            47.0
                                                          33053           327.0
                                                          33054          1152.0
                                                          33055           611.0
                                                          33056           681.0
...                                                                         ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986            31.0
                                                          60987             3.0
                                                          60988            29.0
                                                          60989           112.0
                                                          60990           135.0
                                                          60991           368.0
                                      2017-04-11 00:00:00 60992            39.0
                                                          60993             3.0
                                                          60994            28.0
                                                          60995            88.0
                                                          60996           139.0
                                                          60997           382.0
                                      2017-04-12 00:00:00 60998            40.0
                                                          60999             8.0
                                                          61000            19.0
                                                          61001           120.0
                                                          61002            98.0
                                                          61003           338.0
                                      2017-04-13 00:00:00 61004            37.0
                                                          61005             2.0
                                                          61006            17.0
                                                          61007            95.0
                                                          61008           128.0
                                                          61009           449.0
                                      2017-04-14 00:00:00 61010            51.0
                                                          61011             3.0
                                                          61012            14.0
                                                          61013            81.0
                                                          61014           203.0
                                                          61015           280.0

                                                                 exit_relative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027            NaN
                                                          33028          276.0
                                                          33029          269.0
                                                          33030          758.0
                                                          33031         1082.0
                                                          33032         1321.0
                                      2017-04-09 00:00:00 33033         1005.0
                                                          33034          375.0

In [318]:
df_sample_with_deltas.shape

(130000, 9)

In [ ]:

df_sample_with_deltas.drop(columns = ['date_left','index','time_delta_right'],inplace=True)

In [305]:
df_sample_with_deltas = df_sample_with_deltas.rename(index = str, columns = {'time_delta_left' : 'time_delta','date_right':'date'})
df_sample_with_deltas

                                                                       time_delta  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027               NaT
                                                          33028          04:00:00
                                                          33029          04:00:00
                                                          33030          04:00:00
                                                          33031          04:00:00
                                                          33032          04:00:00
                                      2017-04-09 00:00:00 33033 -1 days +04:00:00
                                                          33034          04:00:00
                                                          33035          04:00:00
                                                          33036          04:00:00
                                                          33037          04:00:00
                                                          33038          04:00:00
                                      2017-04-10 00:00:00 33039 -1 days +04:00:00
                                                          33040          04:00:00
                                                          33041          04:00:00
                                                          33042          04:00:00
                                                          33043          04:00:00
                                                          33044          04:00:00
                                      2017-04-11 00:00:00 33045 -1 days +04:00:00
                                                          33046          04:00:00
                                                          33047          04:00:00
                                                          33048          04:00:00
                                                          33049          04:00:00
                                                          33050          04:00:00
                                      2017-04-12 00:00:00 33051 -1 days +04:00:00
                                                          33052          04:00:00
                                                          33053          04:00:00
                                                          33054          04:00:00
                                                          33055          04:00:00
                                                          33056          04:00:00
...                                                                           ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986 -1 days +04:00:00
                                                          60987          04:00:00
                                                          60988          04:00:00
                                                          60989          04:00:00
                                                          60990          04:00:00
                                                          60991          04:00:00
                                      2017-04-11 00:00:00 60992 -1 days +04:00:00
                                                          60993          04:00:00
                                                          60994          04:00:00
                                                          60995          04:00:00
                                                          60996          04:00:00
                                                          60997          04:00:00
                                      2017-04-12 00:00:00 60998 -1 days +04:00:00
                                                          60999          04:00:00
                                                          61000          04:00:00
                                                          61001          04:00:00
                                                          61002          04:00:00
                                                          61003          04:00:00
                                      2017-04-13 00:00:00 61004 -1 days +04:00:00
                                                          61005          04:00:00
                                                          61006          04:00:00
                                                          61007          04:00:00
                                                          61008          04:00:00
                                                          61009          04:00:00
                                      2017-04-14 00:00:00 61010 -1 days +04:00:00
                                                          61011          04:00:00
                                                          61012          04:00:00
                                                          61013          04:00:00
                                                          61014          04:00:00
                                                          61015          04:00:00

                                                                 entry_relative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027             NaN
                                                          33028           119.0
                                                          33029            95.0
                                                          33030           504.0
                                                          33031           605.0
                                                          33032           717.0
                                      2017-04-09 00:00:00 33033           414.0
                                                          33034           131.0
                                                          33035            55.0
                                                          33036           370.0
                                                          33037           663.0
                                                          33038           523.0
                                      2017-04-10 00:00:00 33039           323.0
                                                          33040            36.0
                                                          33041           308.0
                                                          33042          1085.0
                                                          33043           694.0
                                                          33044           862.0
                                      2017-04-11 00:00:00 33045           335.0
                                                          33046            36.0
                                                          33047           304.0
                                                          33048          1044.0
                                                          33049           703.0
                                                          33050           297.0
                                      2017-04-12 00:00:00 33051           385.0
                                                          33052            47.0
                                                          33053           327.0
                                                          33054          1152.0
                                                          33055           611.0
                                                          33056           681.0
...                                                                         ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986            31.0
                                                          60987             3.0
                                                          60988            29.0
                                                          60989           112.0
                                                          60990           135.0
                                                          60991           368.0
                                      2017-04-11 00:00:00 60992            39.0
                                                          60993             3.0
                                                          60994            28.0
                                                          60995            88.0
                                                          60996           139.0
                                                          60997           382.0
                                      2017-04-12 00:00:00 60998            40.0
                                                          60999             8.0
                                                          61000            19.0
                                                          61001           120.0
                                                          61002            98.0
                                                          61003           338.0
                                      2017-04-13 00:00:00 61004            37.0
                                                          61005             2.0
                                                          61006            17.0
                                                          61007            95.0
                                                          61008           128.0
                                                          61009           449.0
                                      2017-04-14 00:00:00 61010            51.0
                                                          61011             3.0
                                                          61012            14.0
                                                          61013            81.0
                                                          61014           203.0
                                                          61015           280.0

                                                                 exit_relative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027            NaN
                                                          33028          276.0
                                                          33029          269.0
                                                          33030          758.0
                                                          33031         1082.0
                                                          33032         1321.0
                                      2017-04-09 00:00:00 33033         1005.0
                                                          33034          375.0
                                                          33035          197.0
                                                          33036          556.0
                                                          33037         1004.0
                                                          33038          917.0
                                      2017-04-10 00:00:00 33039          523.0
                                                          33040           69.0
                                                          33041          692.0
                                                          33042         1148.0
                                                          33043          836.0
                                                          33044          751.0
                                      2017-04-11 00:00:00 33045          451.0
                                                          33046          112.0
                                                          33047          755.0
                                                          33048          959.0
                                                          33049          829.0
                                                          33050          582.0
                                      2017-04-12 00:00:00 33051          569.0
                                                          33052           98.0
                                                          33053          744.0
                                                          33054         1204.0
                                                          33055          762.0
                                                          33056          748.0
...                                                                        ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986           38.0
                                                          60987            8.0
                                                          60988           38.0
                                                          60989          210.0
                                                          60990          162.0
                                                          60991          344.0
                                      2017-04-11 00:00:00 60992           57.0
                                                          60993            2.0
                                                          60994           31.0
                                                          60995          183.0
                                                          60996          186.0
                                                          60997          316.0
                                      2017-04-12 00:00:00 60998           43.0
                                                          60999            8.0
                                                          61000           30.0
                                                          61001          185.0
                                                          61002          113.0
                                                          61003          311.0
                                      2017-04-13 00:00:00 61004           51.0
                                                          61005            5.0
                                                          61006           33.0
                                                          61007          268.0
                                                          61008          208.0
                                                          61009          384.0
                                      2017-04-14 00:00:00 61010           47.0
                                                          61011            3.0
                                                          61012           19.0
                                                          61013          206.0
                                                          61014          188.0
                                                          61015          287.0

                                                                      date  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027        NaT
                                                          33028 2017-04-08
                                                          33029 2017-04-08
                                                          33030 2017-04-08
                                                          33031 2017-04-08
                                                          33032 2017-04-08
                                      2017-04-09 00:00:00 33033 2017-04-08
                                                          33034 2017-04-08
                                                          33035 2017-04-08
                                                          33036 2017-04-08
                                                          33037 2017-04-08
                                                          33038 2017-04-08
                                      2017-04-10 00:00:00 33039 2017-04-08
                                                          33040 2017-04-08
                                                          33041 2017-04-08
                                                          33042 2017-04-08
                                                          33043 2017-04-08
                                                          33044 2017-04-08
                                      2017-04-11 00:00:00 33045 2017-04-08
                                                          33046 2017-04-08
                                                          33047 2017-04-08
                                                          33048 2017-04-08
                                                          33049 2017-04-08
                                                          33050 2017-04-08
                                      2017-04-12 00:00:00 33051 2017-04-08
                                                          33052 2017-04-08
                                                          33053 2017-04-08
                                                          33054 2017-04-08
                                                          33055 2017-04-08
                                                          33056 2017-04-08
...                                                                    ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 00:00:00 60986 2017-04-08
                                                          60987 2017-04-08
                                                          60988 2017-04-08
                                                          60989 2017-04-08
                                                          60990 2017-04-08
                                                          60991 2017-04-08
                                      2017-04-11 00:00:00 60992 2017-04-08
                                                          60993 2017-04-08
                                                          60994 2017-04-08
                                                          60995 2017-04-08
                                                          60996 2017-04-08
                                                          60997 2017-04-08
                                      2017-04-12 00:00:00 60998 2017-04-08
                                                          60999 2017-04-08
                                                          61000 2017-04-08
                                                          61001 2017-04-08
                                                          61002 2017-04-08
                                                          61003 2017-04-08
                                      2017-04-13 00:00:00 61004 2017-04-08
                                                          61005 2017-04-08
                                                          61006 2017-04-08
                                                          61007 2017-04-08
                                                          61008 2017-04-08
                                                          61009 2017-04-08
                                      2017-04-14 00:00:00 61010 2017-04-08
                                                          61011 2017-04-08
                                                          61012 2017-04-08
                                                          61013 2017-04-08
                                                          61014 2017-04-08
                                                          61015 2017-04-08

                                                                               time  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 00:00:00 33027                 NaT

In [247]:
df_differences.head()

                                                         index   date  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027    NaN    NaT
                                                  33028    1.0 0 days
                                                  33029    1.0 0 days
                                                  33030    1.0 0 days
                                                  33031    1.0 0 days

                                                        time_delta  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027        NaT
                                                  33028   04:00:00
                                                  33029   04:00:00
                                                  33030   04:00:00
                                                  33031   04:00:00

                                                         entry_relative  \
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027             NaN
                                                  33028           119.0
                                                  33029            95.0
                                                  33030           504.0
                                                  33031           605.0

                                                         exit_relative
station line_name scp_address date
1 AV    L         00-00-00    2017-04-08 00:00:00 33027            NaN
                                                  33028          276.0
                                                  33029          269.0
                                                  33030          758.0
                                                  33031         1082.0

In [285]:
# df_sample_with_deltas['index']

In [291]:
df_outliers_sample=df_sample_with_deltas.loc[(df_sample_with_deltas['time_delta'] != dt.timedelta(days=-1,hours=4)) &\
                                             (df_sample_with_deltas['time_delta'] != dt.timedelta(hours = 4))]

In [294]:
df_outliers_sample.sample(500)

                                                                          time_delta  \
station         line_name    scp_address date
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 27118          00:01:04
34 ST-HERALD SQ BDFMNQRW     01-00-00    2017-04-11 00:00:00 3165           00:00:00
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 24970          00:02:03
JFK JAMAICA CT1 E            00-03-00    2017-04-14 00:00:00 38629          00:25:39
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25028          00:00:02
CANAL ST        JNQRZ6W      00-00-01    2017-04-08 00:00:00 6591           00:00:00
                                         2017-04-10 00:00:00 11029          00:00:00
34 ST-PENN STA  ACE          00-06-00    2017-04-08 00:00:00 55577          00:00:00
                             00-00-01    2017-04-13 00:00:00 55439          00:00:00
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25574          00:01:07
125 ST          ACBD         00-05-00    2017-04-08 00:00:00 48010               NaT
PROSPECT AV     R            00-00-01    2017-04-09 00:00:00 21442          00:00:00
                                         2017-04-12 00:00:00 21459          00:00:00
BRIGHTON BEACH  BQ           00-00-03    2017-04-08 00:00:00 18231               NaT
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-11 00:00:00 53750          02:00:00
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 10991          00:00:00
42 ST-PORT AUTH ACENQRS1237W 00-06-01    2017-04-08 00:00:00 53131               NaT
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25955          00:01:04
JAY ST-METROTEC R            00-00-01    2017-04-08 00:00:00 19193               NaT
CANAL ST        JNQRZ6W      00-06-00    2017-04-11 00:00:00 6916           01:20:04
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25993          00:01:03
WHITEHALL S-FRY R1W          01-00-02    2017-04-08 00:00:00 10009               NaT
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27671          00:01:04
PROSPECT AV     R            00-00-00    2017-04-08 00:00:00 21394          00:00:00
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27872          00:01:03
                             00-00-01    2017-04-12 00:00:00 25388          00:02:07
                             00-00-00    2017-04-12 00:00:00 24705          00:01:04
                             00-06-01    2017-04-12 00:00:00 27630          00:01:04
                             00-06-00    2017-04-12 00:00:00 26598          00:01:04
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-10 00:00:00 53742 -1 days +02:00:00
...                                                                              ...
                             00-00-04    2017-04-13 00:00:00 52947          02:00:00
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 26910          00:01:04
                             00-00-02    2017-04-12 00:00:00 26093          00:01:04
                             00-06-01    2017-04-12 00:00:00 27502          00:01:03
                             00-00-01    2017-04-12 00:00:00 25453          00:01:03
                             00-00-00    2017-04-12 00:00:00 24415          00:01:06
                             00-00-02    2017-04-13 00:00:00 26395          00:01:04
                             00-06-01    2017-04-12 00:00:00 27542          00:01:03
                                                             27740          00:01:03
                             00-00-01    2017-04-12 00:00:00 25031          00:01:04
BEDFORD AV      L            00-06-01    2017-04-08 00:00:00 33835          00:01:20
AVENUE J        BQ           00-05-00    2017-04-08 00:00:00 15954               NaT
CANAL ST        JNQRZ6W      00-06-00    2017-04-12 00:00:00 7473           00:00:00
NEW UTRECHT AV  ND           00-00-00    2017-04-12 00:00:00 24352          00:01:04
                             00-06-00    2017-04-13 00:00:00 27206          00:02:03
                             00-00-00    2017-04-12 00:00:00 24655          00:01:03
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 6557           00:00:00
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25489          00:01:03
CORTLANDT ST    RNW          00-02-01    2017-04-08 00:00:00 8875                NaT
JFK JAMAICA CT1 E            00-03-03    2017-04-09 00:00:00 38748 -1 days +03:19:19
CANAL ST        JNQRZ6W      00-03-00    2017-04-11 00:00:00 6696           01:20:04
CONEY IS-STILLW DFNQ         02-05-00    2017-04-08 00:00:00 31641               NaT
42 ST-PORT AUTH ACENQRS1237W 00-00-02    2017-04-10 00:00:00 52847          02:00:00
FULTON ST       2345ACJZ     00-07-00    2017-04-08 00:00:00 62415               NaT
PROSPECT AV     R            00-00-00    2017-04-11 00:00:00 21411          00:00:00
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 26150          00:01:04
                             00-00-00    2017-04-13 00:00:00 24851          00:01:03
                             00-06-01    2017-04-12 00:00:00 27421          00:01:04
                                                             27345          00:01:03
                             00-06-00    2017-04-12 00:00:00 27059          00:02:04

                                                                    entry_relative  \
station         line_name    scp_address date
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 27118    0.000000e+00
34 ST-HERALD SQ BDFMNQRW     01-00-00    2017-04-11 00:00:00 3165    -2.035007e+07
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 24970    0.000000e+00
JFK JAMAICA CT1 E            00-03-00    2017-04-14 00:00:00 38629    0.000000e+00
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25028   -2.000000e+00
CANAL ST        JNQRZ6W      00-00-01    2017-04-08 00:00:00 6591     3.461534e+08
                                         2017-04-10 00:00:00 11029   -3.473166e+08
34 ST-PENN STA  ACE          00-06-00    2017-04-08 00:00:00 55577    8.880000e+03
                             00-00-01    2017-04-13 00:00:00 55439    9.721300e+05
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25574    0.000000e+00
125 ST          ACBD         00-05-00    2017-04-08 00:00:00 48010             NaN
PROSPECT AV     R            00-00-01    2017-04-09 00:00:00 21442   -2.144450e+06
                                         2017-04-12 00:00:00 21459   -2.146474e+06
BRIGHTON BEACH  BQ           00-00-03    2017-04-08 00:00:00 18231             NaN
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-11 00:00:00 53750   -7.499844e+06
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 10991    1.356673e+09
42 ST-PORT AUTH ACENQRS1237W 00-06-01    2017-04-08 00:00:00 53131             NaN
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25955    0.000000e+00
JAY ST-METROTEC R            00-00-01    2017-04-08 00:00:00 19193             NaN
CANAL ST        JNQRZ6W      00-06-00    2017-04-11 00:00:00 6916     2.300000e+01
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25993    0.000000e+00
WHITEHALL S-FRY R1W          01-00-02    2017-04-08 00:00:00 10009             NaN
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27671    0.000000e+00
PROSPECT AV     R            00-00-00    2017-04-08 00:00:00 21394   -1.137630e+07
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27872    0.000000e+00
                             00-00-01    2017-04-12 00:00:00 25388    2.000000e+00
                             00-00-00    2017-04-12 00:00:00 24705    0.000000e+00
                             00-06-01    2017-04-12 00:00:00 27630    0.000000e+00
                             00-06-00    2017-04-12 00:00:00 26598    2.000000e+00
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-10 00:00:00 53742   -7.503131e+06
...                                                                            ...
                             00-00-04    2017-04-13 00:00:00 52947   -3.912372e+07
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 26910    1.000000e+00
                             00-00-02    2017-04-12 00:00:00 26093    1.000000e+00
                             00-06-01    2017-04-12 00:00:00 27502    0.000000e+00
                             00-00-01    2017-04-12 00:00:00 25453    0.000000e+00
                             00-00-00    2017-04-12 00:00:00 24415    3.000000e+00
                             00-00-02    2017-04-13 00:00:00 26395    0.000000e+00
                             00-06-01    2017-04-12 00:00:00 27542    1.000000e+00
                                                             27740    0.000000e+00
                             00-00-01    2017-04-12 00:00:00 25031    0.000000e+00
BEDFORD AV      L            00-06-01    2017-04-08 00:00:00 33835    2.000000e+00
AVENUE J        BQ           00-05-00    2017-04-08 00:00:00 15954             NaN
CANAL ST        JNQRZ6W      00-06-00    2017-04-12 00:00:00 7473     1.947932e+09
NEW UTRECHT AV  ND           00-00-00    2017-04-12 00:00:00 24352    1.000000e+00
                             00-06-00    2017-04-13 00:00:00 27206    0.000000e+00
                             00-00-00    2017-04-12 00:00:00 24655    0.000000e+00
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 6557     3.664176e+08
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25489    0.000000e+00
CORTLANDT ST    RNW          00-02-01    2017-04-08 00:00:00 8875              NaN
JFK JAMAICA CT1 E            00-03-03    2017-04-09 00:00:00 38748    3.000000e+01
CANAL ST        JNQRZ6W      00-03-00    2017-04-11 00:00:00 6696     8.400000e+01
CONEY IS-STILLW DFNQ         02-05-00    2017-04-08 00:00:00 31641             NaN
42 ST-PORT AUTH ACENQRS1237W 00-00-02    2017-04-10 00:00:00 52847   -2.341463e+08
FULTON ST       2345ACJZ     00-07-00    2017-04-08 00:00:00 62415             NaN
PROSPECT AV     R            00-00-00    2017-04-11 00:00:00 21411   -1.138012e+07
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 26150    0.000000e+00
                             00-00-00    2017-04-13 00:00:00 24851    0.000000e+00
                             00-06-01    2017-04-12 00:00:00 27421    1.000000e+00
                                                             27345    1.000000e+00
                             00-06-00    2017-04-12 00:00:00 27059    0.000000e+00

                                                                    exit_relative  \
station         line_name    scp_address date
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 27118   0.000000e+00
34 ST-HERALD SQ BDFMNQRW     01-00-00    2017-04-11 00:00:00 3165   -4.077156e+06
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 24970   2.000000e+00
JFK JAMAICA CT1 E            00-03-00    2017-04-14 00:00:00 38629   9.000000e+00
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25028   0.000000e+00
CANAL ST        JNQRZ6W      00-00-01    2017-04-08 00:00:00 6591    4.378298e+08
                                         2017-04-10 00:00:00 11029  -4.358831e+08
34 ST-PENN STA  ACE          00-06-00    2017-04-08 00:00:00 55577   4.408700e+04
                             00-00-01    2017-04-13 00:00:00 55439   4.144119e+06
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25574   0.000000e+00
125 ST          ACBD         00-05-00    2017-04-08 00:00:00 48010            NaN
PROSPECT AV     R            00-00-01    2017-04-09 00:00:00 21442   4.222950e+06
                                         2017-04-12 00:00:00 21459   4.223913e+06
BRIGHTON BEACH  BQ           00-00-03    2017-04-08 00:00:00 18231            NaN
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-11 00:00:00 53750  -4.063505e+06
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 10991   1.307908e+09
42 ST-PORT AUTH ACENQRS1237W 00-06-01    2017-04-08 00:00:00 53131            NaN
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25955   3.000000e+00
JAY ST-METROTEC R            00-00-01    2017-04-08 00:00:00 19193            NaN
CANAL ST        JNQRZ6W      00-06-00    2017-04-11 00:00:00 6916    1.170000e+02
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25993   0.000000e+00
WHITEHALL S-FRY R1W          01-00-02    2017-04-08 00:00:00 10009            NaN
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27671   4.000000e+00
PROSPECT AV     R            00-00-00    2017-04-08 00:00:00 21394   7.794266e+06
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27872   0.000000e+00
                             00-00-01    2017-04-12 00:00:00 25388   3.000000e+00
                             00-00-00    2017-04-12 00:00:00 24705   1.000000e+00
                             00-06-01    2017-04-12 00:00:00 27630   0.000000e+00
                             00-06-00    2017-04-12 00:00:00 26598   0.000000e+00
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-10 00:00:00 53742  -4.064569e+06
...                                                                           ...
                             00-00-04    2017-04-13 00:00:00 52947  -8.010067e+08
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 26910   0.000000e+00
                             00-00-02    2017-04-12 00:00:00 26093   1.100000e+01
                             00-06-01    2017-04-12 00:00:00 27502   0.000000e+00
                             00-00-01    2017-04-12 00:00:00 25453   0.000000e+00
                             00-00-00    2017-04-12 00:00:00 24415   0.000000e+00
                             00-00-02    2017-04-13 00:00:00 26395   0.000000e+00
                             00-06-01    2017-04-12 00:00:00 27542   0.000000e+00
                                                             27740   1.000000e+00
                             00-00-01    2017-04-12 00:00:00 25031   0.000000e+00
BEDFORD AV      L            00-06-01    2017-04-08 00:00:00 33835   0.000000e+00
AVENUE J        BQ           00-05-00    2017-04-08 00:00:00 15954            NaN
CANAL ST        JNQRZ6W      00-06-00    2017-04-12 00:00:00 7473    5.876903e+08
NEW UTRECHT AV  ND           00-00-00    2017-04-12 00:00:00 24352   3.000000e+00
                             00-06-00    2017-04-13 00:00:00 27206   0.000000e+00
                             00-00-00    2017-04-12 00:00:00 24655   1.000000e+00
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 6557    4.538226e+08
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25489   0.000000e+00
CORTLANDT ST    RNW          00-02-01    2017-04-08 00:00:00 8875             NaN
JFK JAMAICA CT1 E            00-03-03    2017-04-09 00:00:00 38748   1.340000e+02
CANAL ST        JNQRZ6W      00-03-00    2017-04-11 00:00:00 6696    8.800000e+01
CONEY IS-STILLW DFNQ         02-05-00    2017-04-08 00:00:00 31641            NaN
42 ST-PORT AUTH ACENQRS1237W 00-00-02    2017-04-10 00:00:00 52847  -2.185576e+08
FULTON ST       2345ACJZ     00-07-00    2017-04-08 00:00:00 62415            NaN
PROSPECT AV     R            00-00-00    2017-04-11 00:00:00 21411   7.795187e+06
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 26150   1.300000e+01
                             00-00-00    2017-04-13 00:00:00 24851   0.000000e+00
                             00-06-01    2017-04-12 00:00:00 27421   0.000000e+00
                                                             27345   1.000000e+00
                             00-06-00    2017-04-12 00:00:00 27059   0.000000e+00

                                                                         date  \
station         line_name    scp_address date
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 27118 2017-04-08
34 ST-HERALD SQ BDFMNQRW     01-00-00    2017-04-11 00:00:00 3165  2017-04-08
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 24970 2017-04-08
JFK JAMAICA CT1 E            00-03-00    2017-04-14 00:00:00 38629 2017-04-08
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25028 2017-04-08
CANAL ST        JNQRZ6W      00-00-01    2017-04-08 00:00:00 6591         NaT
                                         2017-04-10 00:00:00 11029 2017-04-11
34 ST-PENN STA  ACE          00-06-00    2017-04-08 00:00:00 55577 2017-04-08
                             00-00-01    2017-04-13 00:00:00 55439 2017-04-08
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25574 2017-04-08
125 ST          ACBD         00-05-00    2017-04-08 00:00:00 48010        NaT
PROSPECT AV     R            00-00-01    2017-04-09 00:00:00 21442 2017-04-08
                                         2017-04-12 00:00:00 21459 2017-04-08
BRIGHTON BEACH  BQ           00-00-03    2017-04-08 00:00:00 18231        NaT
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-11 00:00:00 53750 2017-04-11
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 10991 2017-04-12
42 ST-PORT AUTH ACENQRS1237W 00-06-01    2017-04-08 00:00:00 53131        NaT
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25955 2017-04-08
JAY ST-METROTEC R            00-00-01    2017-04-08 00:00:00 19193        NaT
CANAL ST        JNQRZ6W      00-06-00    2017-04-11 00:00:00 6916  2017-04-08
NEW UTRECHT AV  ND           00-00-02    2017-04-12 00:00:00 25993 2017-04-08
WHITEHALL S-FRY R1W          01-00-02    2017-04-08 00:00:00 10009        NaT
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27671 2017-04-08
PROSPECT AV     R            00-00-00    2017-04-08 00:00:00 21394 2017-04-08
NEW UTRECHT AV  ND           00-06-01    2017-04-12 00:00:00 27872 2017-04-08
                             00-00-01    2017-04-12 00:00:00 25388 2017-04-08
                             00-00-00    2017-04-12 00:00:00 24705 2017-04-08
                             00-06-01    2017-04-12 00:00:00 27630 2017-04-08
                             00-06-00    2017-04-12 00:00:00 26598 2017-04-08
42 ST-PORT AUTH ACENQRS1237W 00-00-03    2017-04-10 00:00:00 53742 2017-04-11
...                                                                       ...
                             00-00-04    2017-04-13 00:00:00 52947        NaT
NEW UTRECHT AV  ND           00-06-00    2017-04-12 00:00:00 26910 2017-04-08
                             00-00-02    2017-04-12 00:00:00 26093 2017-04-08
                             00-06-01    2017-04-12 00:00:00 27502 2017-04-08
                             00-00-01    2017-04-12 00:00:00 25453 2017-04-08
                             00-00-00    2017-04-12 00:00:00 24415 2017-04-08
                             00-00-02    2017-04-13 00:00:00 26395 2017-04-08
                             00-06-01    2017-04-12 00:00:00 27542 2017-04-08
                                                             27740 2017-04-08
                             00-00-01    2017-04-12 00:00:00 25031 2017-04-08
BEDFORD AV      L            00-06-01    2017-04-08 00:00:00 33835 2017-04-08
AVENUE J        BQ           00-05-00    2017-04-08 00:00:00 15954        NaT
CANAL ST        JNQRZ6W      00-06-00    2017-04-12 00:00:00 7473  2017-04-08
NEW UTRECHT AV  ND           00-00-00    2017-04-12 00:00:00 24352 2017-04-08
                             00-06-00    2017-04-13 00:00:00 27206 2017-04-08
                             00-00-00    2017-04-12 00:00:00 24655 2017-04-08
CANAL ST        JNQRZ6W      00-00-00    2017-04-10 00:00:00 6557         NaT
NEW UTRECHT AV  ND           00-00-01    2017-04-12 00:00:00 25489 2017-04-08
CORTLANDT ST    RNW          00-02-01    2017-04-08 00:00:00 8875         NaT
JFK JAMAICA CT1 E            00-03-03    2017-04-09 00:00:00 38748 2017-04-08
CANAL ST        JNQRZ6W      00-03-00    2017-04-11 00:00:00 6696  2017-04-08
CONEY IS-STILLW DFNQ         02-05-00    2017-04-08 00:00:00 31641        NaT
42 ST-PORT AUTH ACENQRS1237W 00-00-02    2017-04-10 00:00:00 52847        NaT

In [328]:



sus_index_num=63000

range=5
df_sample_with_deltas.iloc[sus_index_num-range:sus_index_num+range]

                                                                               date  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316  2017-04-10 00:00:00
                                                         58317  2017-04-10 00:00:00
                                                         58318  2017-04-10 00:00:00
                                     2017-04-11 00:00:00 58319  2017-04-11 00:00:00
                                                         58320  2017-04-11 00:00:00
                                                         58321  2017-04-11 00:00:00
                                                         58322  2017-04-11 00:00:00
                                                         58323  2017-04-11 00:00:00
                                                         58324  2017-04-11 00:00:00
                                                         58325  2017-04-11 00:00:00

                                                               description  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316     REGULAR
                                                         58317     REGULAR
                                                         58318     REGULAR
                                     2017-04-11 00:00:00 58319     REGULAR
                                                         58320     REGULAR
                                                         58321     REGULAR
                                                         58322     REGULAR
                                                         58323     REGULAR
                                                         58324     REGULAR
                                                         58325     REGULAR

                                                                entry_cumulative  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316        17254131.0
                                                         58317        17254131.0
                                                         58318        17254131.0
                                     2017-04-11 00:00:00 58319        17254131.0
                                                         58320        17254131.0
                                                         58321        17254131.0
                                                         58322        17254131.0
                                                         58323        17254131.0
                                                         58324        17254131.0
                                                         58325        17254131.0

                                                                entry_relative  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316             NaN
                                                         58317             NaN
                                                         58318             NaN
                                     2017-04-11 00:00:00 58319             NaN
                                                         58320             NaN
                                                         58321             NaN
                                                         58322             NaN
                                                         58323             NaN
                                                         58324             NaN
                                                         58325             NaN

                                                                exit_cumulative  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316        4974712.0
                                                         58317        4975304.0
                                                         58318        4975879.0
                                     2017-04-11 00:00:00 58319        4976007.0
                                                         58320        4976046.0
                                                         58321        4976168.0
                                                         58322        4976488.0
                                                         58323        4977383.0
                                                         58324        4978059.0
                                                         58325        4978830.0

                                                                exit_relative  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316            NaN
                                                         58317            NaN
                                                         58318            NaN
                                     2017-04-11 00:00:00 58319            NaN
                                                         58320            NaN
                                                         58321            NaN
                                                         58322            NaN
                                                         58323            NaN
                                                         58324            NaN
                                                         58325            NaN

                                                                  index  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316  58316.0
                                                         58317  58317.0
                                                         58318  58318.0
                                     2017-04-11 00:00:00 58319  58319.0
                                                         58320  58320.0
                                                         58321  58321.0
                                                         58322  58322.0
                                                         58323  58323.0
                                                         58324  58324.0
                                                         58325  58325.0

                                                                              time  \
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316 1900-01-01 13:00:00
                                                         58317 1900-01-01 17:00:00
                                                         58318 1900-01-01 21:00:00
                                     2017-04-11 00:00:00 58319 1900-01-01 01:00:00
                                                         58320 1900-01-01 05:00:00
                                                         58321 1900-01-01 07:39:59
                                                         58322 1900-01-01 09:00:00
                                                         58323 1900-01-01 13:00:00
                                                         58324 1900-01-01 17:00:00
                                                         58325 1900-01-01 21:00:00

                                                               time_delta
station        line_name scp_address date
W 4 ST-WASH SQ ABCDEFM   01-06-01    2017-04-10 00:00:00 58316        NaT
                                                         58317        NaT
                                                         58318        NaT
                                     2017-04-11 00:00:00 58319        NaT
                                                         58320        NaT
                                                         58321        NaT
                                                         58322        NaT
                                                         58323        NaT
                                                         58324        NaT
                                                         58325        NaT

In [334]:
#df['entry_relative'] = df['entry_cumulative'].diff()
df_shortcut = df_sample
df_shortcut['entry_relative'] = df_sample['entry_cumulative'].diff()

In [335]:
df_shortcut['exit_relative'] = df_sample['exit_cumulative'].diff()

In [365]:

df_shortcut=df_shortcut.loc[df_shortcut['exit_relative'] > 0]

In [367]:
df_shortcut=df_shortcut.loc[df_shortcut['entry_relative'] > 0]

In [366]:

df_shortcut=df_shortcut.dropna()

In [397]:
df_shortcut=df_shortcut.drop(columns=['date'])

In [400]:
df_shortcut

                                                        index  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33028  33028
                                                 33029  33029
                                                 33030  33030
                                                 33031  33031
                                                 33032  33032
                                      2017-04-09 33033  33033
                                                 33034  33034
                                                 33035  33035
                                                 33036  33036
                                                 33037  33037
                                                 33038  33038
                                      2017-04-10 33039  33039
                                                 33040  33040
                                                 33041  33041
                                                 33042  33042
                                                 33043  33043
                                                 33044  33044
                                      2017-04-11 33045  33045
                                                 33046  33046
                                                 33047  33047
                                                 33048  33048
                                                 33049  33049
                                                 33050  33050
                                      2017-04-12 33051  33051
                                                 33052  33052
                                                 33053  33053
                                                 33054  33054
                                                 33055  33055
                                                 33056  33056
                                      2017-04-13 33057  33057
...                                                       ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986  60986
                                                 60987  60987
                                                 60988  60988
                                                 60989  60989
                                                 60990  60990
                                                 60991  60991
                                      2017-04-11 60992  60992
                                                 60993  60993
                                                 60994  60994
                                                 60995  60995
                                                 60996  60996
                                                 60997  60997
                                      2017-04-12 60998  60998
                                                 60999  60999
                                                 61000  61000
                                                 61001  61001
                                                 61002  61002
                                                 61003  61003
                                      2017-04-13 61004  61004
                                                 61005  61005
                                                 61006  61006
                                                 61007  61007
                                                 61008  61008
                                                 61009  61009
                                      2017-04-14 61010  61010
                                                 61011  61011
                                                 61012  61012
                                                 61013  61013
                                                 61014  61014
                                                 61015  61015

                                                                      time  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33028 1900-01-01 04:00:00
                                                 33029 1900-01-01 08:00:00
                                                 33030 1900-01-01 12:00:00
                                                 33031 1900-01-01 16:00:00
                                                 33032 1900-01-01 20:00:00
                                      2017-04-09 33033 1900-01-01 00:00:00
                                                 33034 1900-01-01 04:00:00
                                                 33035 1900-01-01 08:00:00
                                                 33036 1900-01-01 12:00:00
                                                 33037 1900-01-01 16:00:00
                                                 33038 1900-01-01 20:00:00
                                      2017-04-10 33039 1900-01-01 00:00:00
                                                 33040 1900-01-01 04:00:00
                                                 33041 1900-01-01 08:00:00
                                                 33042 1900-01-01 12:00:00
                                                 33043 1900-01-01 16:00:00
                                                 33044 1900-01-01 20:00:00
                                      2017-04-11 33045 1900-01-01 00:00:00
                                                 33046 1900-01-01 04:00:00
                                                 33047 1900-01-01 08:00:00
                                                 33048 1900-01-01 12:00:00
                                                 33049 1900-01-01 16:00:00
                                                 33050 1900-01-01 20:00:00
                                      2017-04-12 33051 1900-01-01 00:00:00
                                                 33052 1900-01-01 04:00:00
                                                 33053 1900-01-01 08:00:00
                                                 33054 1900-01-01 12:00:00
                                                 33055 1900-01-01 16:00:00
                                                 33056 1900-01-01 20:00:00
                                      2017-04-13 33057 1900-01-01 00:00:00
...                                                                    ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986 1900-01-01 00:00:00
                                                 60987 1900-01-01 04:00:00
                                                 60988 1900-01-01 08:00:00
                                                 60989 1900-01-01 12:00:00
                                                 60990 1900-01-01 16:00:00
                                                 60991 1900-01-01 20:00:00
                                      2017-04-11 60992 1900-01-01 00:00:00
                                                 60993 1900-01-01 04:00:00
                                                 60994 1900-01-01 08:00:00
                                                 60995 1900-01-01 12:00:00
                                                 60996 1900-01-01 16:00:00
                                                 60997 1900-01-01 20:00:00
                                      2017-04-12 60998 1900-01-01 00:00:00
                                                 60999 1900-01-01 04:00:00
                                                 61000 1900-01-01 08:00:00
                                                 61001 1900-01-01 12:00:00
                                                 61002 1900-01-01 16:00:00
                                                 61003 1900-01-01 20:00:00
                                      2017-04-13 61004 1900-01-01 00:00:00
                                                 61005 1900-01-01 04:00:00
                                                 61006 1900-01-01 08:00:00
                                                 61007 1900-01-01 12:00:00
                                                 61008 1900-01-01 16:00:00
                                                 61009 1900-01-01 20:00:00
                                      2017-04-14 61010 1900-01-01 00:00:00
                                                 61011 1900-01-01 04:00:00
                                                 61012 1900-01-01 08:00:00
                                                 61013 1900-01-01 12:00:00
                                                 61014 1900-01-01 16:00:00
                                                 61015 1900-01-01 20:00:00

                                                       description  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33028     REGULAR
                                                 33029     REGULAR
                                                 33030     REGULAR
                                                 33031     REGULAR
                                                 33032     REGULAR
                                      2017-04-09 33033     REGULAR
                                                 33034     REGULAR
                                                 33035     REGULAR
                                                 33036     REGULAR
                                                 33037     REGULAR
                                                 33038     REGULAR
                                      2017-04-10 33039     REGULAR
                                                 33040     REGULAR
                                                 33041     REGULAR
                                                 33042     REGULAR
                                                 33043     REGULAR
                                                 33044     REGULAR
                                      2017-04-11 33045     REGULAR
                                                 33046     REGULAR
                                                 33047     REGULAR
                                                 33048     REGULAR
                                                 33049     REGULAR
                                                 33050     REGULAR
                                      2017-04-12 33051     REGULAR
                                                 33052     REGULAR
                                                 33053     REGULAR
                                                 33054     REGULAR
                                                 33055     REGULAR
                                                 33056     REGULAR
                                      2017-04-13 33057     REGULAR
...                                                            ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986     REGULAR
                                                 60987     REGULAR
                                                 60988     REGULAR
                                                 60989     REGULAR
                                                 60990     REGULAR
                                                 60991     REGULAR
                                      2017-04-11 60992     REGULAR
                                                 60993     REGULAR
                                                 60994     REGULAR
                                                 60995     REGULAR
                                                 60996     REGULAR
                                                 60997     REGULAR
                                      2017-04-12 60998     REGULAR
                                                 60999     REGULAR
                                                 61000     REGULAR
                                                 61001     REGULAR
                                                 61002     REGULAR
                                                 61003     REGULAR
                                      2017-04-13 61004     REGULAR
                                                 61005     REGULAR
                                                 61006     REGULAR
                                                 61007     REGULAR
                                                 61008     REGULAR
                                                 61009     REGULAR
                                      2017-04-14 61010     REGULAR
                                                 61011     REGULAR
                                                 61012     REGULAR
                                                 61013     REGULAR
                                                 61014     REGULAR
                                                 61015     REGULAR

                                                        entry_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33028          12209826
                                                 33029          12209921
                                                 33030          12210425
                                                 33031          12211030
                                                 33032          12211747
                                      2017-04-09 33033          12212161
                                                 33034          12212292
                                                 33035          12212347
                                                 33036          12212717
                                                 33037          12213380
                                                 33038          12213903
                                      2017-04-10 33039          12214226
                                                 33040          12214262
                                                 33041          12214570
                                                 33042          12215655
                                                 33043          12216349
                                                 33044          12217211
                                      2017-04-11 33045          12217546
                                                 33046          12217582
                                                 33047          12217886
                                                 33048          12218930
                                                 33049          12219633
                                                 33050          12219930
                                      2017-04-12 33051          12220315
                                                 33052          12220362
                                                 33053          12220689
                                                 33054          12221841
                                                 33055          12222452
                                                 33056          12223133
                                      2017-04-13 33057          12223539
...                                                                  ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986           1917104
                                                 60987           1917107
                                                 60988           1917136
                                                 60989           1917248
                                                 60990           1917383
                                                 60991           1917751
                                      2017-04-11 60992           1917790
                                                 60993           1917793
                                                 60994           1917821
                                                 60995           1917909
                                                 60996           1918048
                                                 60997           1918430
                                      2017-04-12 60998           1918470
                                                 60999           1918478
                                                 61000           1918497
                                                 61001           1918617
                                                 61002           1918715
                                                 61003           1919053
                                      2017-04-13 61004           1919090
                                                 61005           1919092
                                                 61006           1919109
                                                 61007           1919204
                                                 61008           1919332
                                                 61009           1919781
                                      2017-04-14 61010           1919832
                                                 61011           1919835
                                                 61012           1919849
                                                 61013           1919930
                                                 61014           1920133
                                                 61015           1920413

                                                        exit_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33028         13447245
                                                 33029         13447514
                                                 33030         13448272
                                                 33031         13449354
                                                 33032         13450675
                                      2017-04-09 33033         13451680
                                                 33034         13452055
                                                 33035         13452252
                                                 33036         13452808
                                                 33037         13453812
                                                 33038         13454729
                                      2017-04-10 33039         13455252
                                                 33040         13455321
                                                 33041         13456013
                                                 33042         13457161
                                                 33043         13457997
                                                 33044         13458748
                                      2017-04-11 33045         13459199
                                                 33046         13459311
                                                 33047         13460066
                                                 33048         13461025
                                                 33049         13461854
                                                 33050         13462436
                                      2017-04-12 33051         13463005
                                                 33052         13463103
                                                 33053         13463847
                                                 33054         13465051
                                                 33055         13465813
                                                 33056         13466561
                                      2017-04-13 33057         13467083
...                                                                 ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986          1011613
                                                 60987          1011621
                                                 60988          1011659
                                                 60989          1011869

In [419]:
df_shortcut_no_outliers=df_shortcut.loc[(df_shortcut['exit_relative'] < 1*df_shortcut['exit_relative'].std())&(\
                                        df_shortcut['entry_relative'] < 1*df_shortcut['entry_relative'].std())]

In [420]:
df_shortcut_no_outliers['entry_relative'].describe()

count    4.984500e+04
mean     2.193650e+05
std      2.586295e+06
min      1.000000e+00
25%      3.700000e+01
50%      1.340000e+02
75%      3.260000e+02
max      6.783877e+07
Name: entry_relative, dtype: float64

In [421]:
df_shortcut_no_outliers['exit_relative'].describe()

count    4.984500e+04
mean     1.897648e+05
std      2.072502e+06
min      1.000000e+00
25%      2.500000e+01
50%      7.900000e+01
75%      2.170000e+02
max      5.736677e+07
Name: exit_relative, dtype: float64

In [422]:
df_shortcut_no_outliers.groupby(['station','line_name','scp_address','date']).max()

                                                  index                time  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08  33032 1900-01-01 20:00:00
                                      2017-04-09  33038 1900-01-01 20:00:00
                                      2017-04-10  33044 1900-01-01 20:00:00
                                      2017-04-11  33050 1900-01-01 20:00:00
                                      2017-04-12  33056 1900-01-01 20:00:00
                                      2017-04-13  33063 1900-01-01 20:00:00
                                      2017-04-14  33069 1900-01-01 20:00:00
                          00-00-01    2017-04-08  33075 1900-01-01 20:00:00
                                      2017-04-09  33081 1900-01-01 20:00:00
                                      2017-04-10  33087 1900-01-01 20:00:00
                                      2017-04-11  33093 1900-01-01 20:00:00
                                      2017-04-12  33099 1900-01-01 20:00:00
                                      2017-04-13  33106 1900-01-01 20:00:00
                                      2017-04-14  33112 1900-01-01 20:00:00
                          00-03-00    2017-04-08  33118 1900-01-01 20:00:00
                                      2017-04-09  33124 1900-01-01 20:00:00
                                      2017-04-10  33130 1900-01-01 20:00:00
                                      2017-04-11  33136 1900-01-01 20:00:00
                                      2017-04-12  33142 1900-01-01 20:00:00
                                      2017-04-13  33149 1900-01-01 20:00:00
                                      2017-04-14  33155 1900-01-01 20:00:00
                          00-03-01    2017-04-08  33161 1900-01-01 20:00:00
                                      2017-04-09  33167 1900-01-01 20:00:00
                                      2017-04-10  33173 1900-01-01 20:00:00
                                      2017-04-11  33179 1900-01-01 20:00:00
                                      2017-04-12  33185 1900-01-01 20:00:00
                                      2017-04-13  33192 1900-01-01 20:00:00
                                      2017-04-14  33198 1900-01-01 20:00:00
                          00-03-02    2017-04-08  33204 1900-01-01 20:00:00
                                      2017-04-09  33210 1900-01-01 20:00:00
...                                                 ...                 ...
WORLD TRADE CTR ACE23     01-06-00    2017-04-13  60841 1900-01-01 20:00:00
                                      2017-04-14  60847 1900-01-01 20:00:00
                          01-06-01    2017-04-08  60853 1900-01-01 20:00:00
                                      2017-04-09  60859 1900-01-01 20:00:00
                                      2017-04-10  60865 1900-01-01 20:00:00
                                      2017-04-11  60871 1900-01-01 20:00:00
                                      2017-04-12  60877 1900-01-01 20:00:00
                                      2017-04-13  60883 1900-01-01 20:00:00
                                      2017-04-14  60889 1900-01-01 20:00:00
                          01-06-02    2017-04-08  60895 1900-01-01 20:00:00
                                      2017-04-09  60901 1900-01-01 20:00:00
                                      2017-04-10  60907 1900-01-01 20:00:00
                                      2017-04-11  60913 1900-01-01 20:00:00
                                      2017-04-12  60919 1900-01-01 20:00:00
                                      2017-04-13  60925 1900-01-01 20:00:00
                                      2017-04-14  60931 1900-01-01 20:00:00
                          01-06-03    2017-04-08  60937 1900-01-01 20:00:00
                                      2017-04-09  60943 1900-01-01 20:00:00
                                      2017-04-10  60949 1900-01-01 20:00:00
                                      2017-04-11  60955 1900-01-01 20:00:00
                                      2017-04-12  60961 1900-01-01 20:00:00
                                      2017-04-13  60967 1900-01-01 20:00:00
                                      2017-04-14  60973 1900-01-01 20:00:00
                          01-06-04    2017-04-08  60979 1900-01-01 20:00:00
                                      2017-04-09  60985 1900-01-01 20:00:00
                                      2017-04-10  60991 1900-01-01 20:00:00
                                      2017-04-11  60997 1900-01-01 20:00:00
                                      2017-04-12  61003 1900-01-01 20:00:00
                                      2017-04-13  61009 1900-01-01 20:00:00
                                      2017-04-14  61015 1900-01-01 20:00:00

                                                 description  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          00-00-01    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          00-03-00    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          00-03-01    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          00-03-02    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
...                                                      ...
WORLD TRADE CTR ACE23     01-06-00    2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          01-06-01    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          01-06-02    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          01-06-03    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR
                          01-06-04    2017-04-08     REGULAR
                                      2017-04-09     REGULAR
                                      2017-04-10     REGULAR
                                      2017-04-11     REGULAR
                                      2017-04-12     REGULAR
                                      2017-04-13     REGULAR
                                      2017-04-14     REGULAR

                                                  entry_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08          12211747
                                      2017-04-09          12213903
                                      2017-04-10          12217211
                                      2017-04-11          12219930
                                      2017-04-12          12223133
                                      2017-04-13          12226817
                                      2017-04-14          12229866
                          00-00-01    2017-04-08          57054975
                                      2017-04-09          57058103
                                      2017-04-10          57062350
                                      2017-04-11          57067050
                                      2017-04-12          57071300
                                      2017-04-13          57076108
                                      2017-04-14          57080195
                          00-03-00    2017-04-08         369946562
                                      2017-04-09         369947122
                                      2017-04-10         369948230
                                      2017-04-11         369949624
                                      2017-04-12         369950665
                                      2017-04-13         369951793
                                      2017-04-14         369953251
                          00-03-01    2017-04-08           1892373
                                      2017-04-09           1892840
                                      2017-04-10           1893669
                                      2017-04-11           1894619
                                      2017-04-12           1895316
                                      2017-04-13           1896118
                                      2017-04-14           1897119
                          00-03-02    2017-04-08           5516791
                                      2017-04-09           5517670
...                                                            ...
WORLD TRADE CTR ACE23     01-06-00    2017-04-13           8631880
                                      2017-04-14           8633352
                          01-06-01    2017-04-08           7715783
                                      2017-04-09           7716787
                                      2017-04-10           7719473
                                      2017-04-11           7722381
                                      2017-04-12           7725202
                                      2017-04-13           7728177
                                      2017-04-14           7730721
                          01-06-02    2017-04-08            113126
                                      2017-04-09            113634
                                      2017-04-10            114707
                                      2017-04-11            115973
                                      2017-04-12            117172
                                      2017-04-13            118501
                                      2017-04-14            119576
                          01-06-03    2017-04-08           8951836
                                      2017-04-09           8952605
                                      2017-04-10           8954798
                                      2017-04-11           8957197
                                      2017-04-12           8959439
                                      2017-04-13           8961839
                                      2017-04-14           8963740
                          01-06-04    2017-04-08           1916818
                                      2017-04-09           1917073
                                      2017-04-10           1917751
                                      2017-04-11           1918430
                                      2017-04-12           1919053
                                      2017-04-13           1919781
                                      2017-04-14           1920413

                                                  exit_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08         13450675
                                      2017-04-09         13454729
                                      2017-04-10         13458748
                                      2017-04-11         13462436
                                      2017-04-12         13466561
                                      2017-04-13         13470682
                                      2017-04-14         13474876
                          00-00-01    2017-04-08         36454775
                                      2017-04-09         36456953
                                      2017-04-10         36458829
                                      2017-04-11         36460534
                                      2017-04-12         36462254
                                      2017-04-13         36464029
                                      2017-04-14         36466136
                          00-03-00    2017-04-08        386867224
                                      2017-04-09        386868369
                                      2017-04-10        386869478
                                      2017-04-11        386870697
                                      2017-04-12        386871853
                                      2017-04-13        386873170
                                      2017-04-14        386874380
                          00-03-01    2017-04-08           779616
                                      2017-04-09           780069
                                      2017-04-10           780373
                                      2017-04-11           780738
                                      2017-04-12           781049
                                      2017-04-13           781497
                                      2017-04-14           781863
                          00-03-02    2017-04-08           461509
                                      2017-04-09           461646
...                                                           ...
WORLD TRADE CTR ACE23     01-06-00    2017-04-13          3686570
                                      2017-04-14          3687584
                          01-06-01    2017-04-08           728893
                                      2017-04-09           729299
                                      2017-04-10           729739
                                      2017-04-11           730146
                                      2017-04-12           730553
                                      2017-04-13           731015
                                      2017-04-14           731370
                          01-06-02    2017-04-08            67486
                                      2017-04-09            67664
                                      2017-04-10            68282
                                      2017-04-11            68914
                                      2017-04-12            69672
                                      2017-04-13            70334
                                      2017-04-14            70795
                          01-06-03    2017-04-08          6379745
                                      2017-04-09          6379930
                                      2017-04-10          6380690
                                      2017-04-11          6381634
                                      2017-04-12          6382566
                                      2017-04-13          6383426
                                      2017-04-14          6384059
                          01-06-04    2017-04-08          1011208
                                      2017-04-09          1011575
                                      2017-04-10          1012375
                                      2017-04-11          1013150
                                      2017-04-12          1013840
                                      2017-04-13          1014789
                                      2017-04-14          1015539

                                                  entry_relative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08           717.0
                                      2017-04-09           663.0
                                      2017-04-10          1085.0
                                      2017-04-11          1044.0
                                      2017-04-12          1152.0
                                      2017-04-13           950.0
                                      2017-04-14          1022.0
                          00-00-01    2017-04-08      44822153.0
                                      2017-04-09           879.0
                                      2017-04-10          1307.0
                                      2017-04-11          1457.0
                                      2017-04-12          1509.0
                                      2017-04-13          1236.0
                                      2017-04-14          1322.0
                          00-03-00    2017-04-08           250.0
                                      2017-04-09           168.0
                                      2017-04-10           425.0
                                      2017-04-11           515.0
                                      2017-04-12           427.0
                                      2017-04-13           285.0
                                      2017-04-14           635.0
                          00-03-01    2017-04-08           188.0
                                      2017-04-09           165.0
                                      2017-04-10           364.0
                                      2017-04-11           326.0
                                      2017-04-12           319.0
                                      2017-04-13           203.0
                                      2017-04-14           445.0
                          00-03-02    2017-04-08           337.0
                                      2017-04-09           293.0
...                                                          ...
WORLD TRADE CTR ACE23     01-06-00    2017-04-13          1029.0
                                      2017-04-14           687.0
                          01-06-01    2017-04-08           411.0
                                      2017-04-09           314.0
                                      2017-04-10          1518.0
                                      2017-04-11          1507.0
                                      2017-04-12          1516.0
                                      2017-04-13          1547.0
                                      2017-04-14          1081.0
                          01-06-02    2017-04-08           212.0
                                      2017-04-09           188.0
                                      2017-04-10           676.0
                                      2017-04-11           693.0
                                      2017-04-12           664.0

In [411]:
pd.__version__

'0.24.1'