In [1]:
import pandas as pd
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:

compiled_data_directory = '../../../proj1_unsorted_data/compiled_data_unsorted.csv'
df=pd.read_csv(compiled_data_directory, header=0, names = ["index","ca","remote_unit",\
               "scp_address","station","line_name","division","date","time",\
               "description","entry_cumulative","exit_cumulative"])

In [4]:
df.head()

,index,ca,remote_unit,scp_address,station,line_name,division,date,time,description,entry_cumulative,exit_cumulative
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,00:00:00,REGULAR,6127245,2076158
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,04:00:00,REGULAR,6127285,2076165
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,08:00:00,REGULAR,6127304,2076196
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,12:00:00,REGULAR,6127409,2076284
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,16:00:00,REGULAR,6127654,2076350

In [5]:
df2=pd.read_pickle('./turnstyle_df.zip', compression='zip')
df2.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [106]:

# df.to_pickle('turnstyle_df_3.pkl',protocol = 3)

In [68]:
df=df.drop(columns = ['ca','remote_unit','division'])

In [130]:
df['date'] = pd.to_datetime(df['date'],format = '%m/%d/%Y')

In [135]:
df['time'] = pd.to_datetime(df['time'],format = '%H:%M:%S')
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [134]:
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [72]:
df['entry_relative'] = df['entry_cumulative'].diff()
df['exit_relative'] = df['exit_cumulative'].diff()

In [73]:
df['description'].nunique()

2

In [74]:
df['entry_relative'].describe()
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [78]:
# df['entry_relative'].plot()

In [82]:
sus_index=df.loc[df['entry_relative']==df['entry_relative'].max()]
sus_index

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
1248069,53458,01-03-00,14 ST,ACEL,03/18/2017,01:00:00,REGULAR,2130581192,1157476857,2.123318e+09,1.148523e+09

In [91]:
# Find where turnstile addresses don't match so that diff() function won't be applied there

sus_index_num=1248069
df.iloc[sus_index_num-3:sus_index_num+3]

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0
504,504,00-00-00,5 AV/59 ST,NQRW,04/08/2017,02:00:00,REGULAR,2775087,4752391,-4221883.0,4602715.0
505,505,00-00-00,5 AV/59 ST,NQRW,04/08/2017,06:00:00,REGULAR,2775096,4752415,9.0,24.0
506,506,00-00-00,5 AV/59 ST,NQRW,04/08/2017,10:00:00,REGULAR,2775139,4752770,43.0,355.0
507,507,00-00-00,5 AV/59 ST,NQRW,04/08/2017,14:00:00,REGULAR,2775282,4753229,143.0,459.0
508,508,00-00-00,5 AV/59 ST,NQRW,04/08/2017,18:00:00,REGULAR,2775679,4753802,397.0,573.0
1091,1091,00-00-00,57 ST-7 AV,NQRW,04/08/2017,00:00:00,REGULAR,2288728,910505,-3926203.0,-1497422.0
1092,1092,00-00-00,57 ST-7 AV,NQRW,04/08/2017,04:00:00,REGULAR,2288861,910547,133.0,42.0
1093,1093,00-00-00,57 ST-7 AV,NQRW,04/08/2017,08:00:00,REGULAR,2288928,910621,67.0,74.0
1094,1094,00-00-00,57 ST-7 AV,NQRW,04/08/2017,12:00:00,REGULAR,2289239,910909,311.0,288.0
1095,1095,00-00-00,57 ST-7 AV,NQRW,04/08/2017,16:00:00,REGULAR,2289866,911310,627.0,401.0
1679,1679,01-00-00,49 ST,NQRW,04/08/2017,00:00:00,REGULAR,5688773,34106506,5278683.0,33708747.0
1680,1680,01-00-00,49 ST,NQRW,04/08/2017,04:00:00,REGULAR,5688818,34106652,45.0,146.0
1681,1681,01-00-00,49 ST,NQRW,04/08/2017,08:00:00,REGULAR,5688837,34106825,19.0,173.0
1682,1682,01-00-00,49 ST,NQRW,04/08/2017,12:00:00,REGULAR,5688872,34107305,35.0,480.0
1683,1683,01-00-00,49 ST,NQRW,04/08/2017,16:00:00,REGULAR,5688927,34108163,55.0,858.0
2600,2600,01-00-00,TIMES SQ-42 ST,ACENQRS1237W,04/08/2017,00:00:00,REGULAR,6598836,7765018,6587716.0,-25831934.0
2601,2601,01-00-00,TIMES SQ-42 ST,ACENQRS1237W,04/08/2017,04:00:00,REGULAR,6598915,7765082,79.0,64.0
2602,2602,01-00-00,TIMES SQ-42 ST,ACENQRS1237W,04/08/2017,08:00:00,REGULAR,6598995,7765218,80.0,136.0
2603,2603,01-00-00,TIMES SQ-42 ST,ACENQRS1237W,04/08/2017,12:00:00,REGULAR,6599236,7765858,241.0,640.0
2604,2604,01-00-00,TIMES SQ-42 ST,ACENQRS1237W,04/08/2017,16:00:00,REGULAR,6599607,7766627,371.0,769.0
2936,2936,01-00-00,34 ST-HERALD SQ,BDFMNQRW,04/08/2017,00:00:00,REGULAR,23249624,9233391,21841287.0,6609767.0
2937,2937,01-00-00,34 ST-HERALD SQ,BDFMNQRW,04/08/2017,04:00:00,REGULAR,23249823,9233433,199.0,42.0
2938,2938,01-00-00,34 ST-HERALD SQ,BDFMNQRW,04/08/2017,08:00:00,REGULAR,23249874,9233505,51.0,72.0
2939,2939,01-00-00,34 ST-HERALD SQ,BDFMNQRW,04/08/2017,12:00:00,REGULAR,23250288,9233930,414.0,425.0
2940,2940,01-00-00,34 ST-HERALD SQ,BDFMNQRW,04/08/2017,16:00:00,REGULAR,23251241,9234585,953.0,655.0
...,...,...,...,...,...,...,...,...,...,...,...
200773,200773,00-00-00,RIT-MANHATTAN,R,04/08/2017,01:00:00,REGULAR,543780,10563,543670.0,10563.0
200774,200774,00-00-00,RIT-MANHATTAN,R,04/08/2017,05:00:00,REGULAR,543795,10565,15.0,2.0
200775,200775,00-00-00,RIT-MANHATTAN,R,04/08/2017,09:00:00,REGULAR,543821,10567,26.0,2.0
200776,200776,00-00-00,RIT-MANHATTAN,R,04/08/2017,13:00:00,REGULAR,544135,10571,314.0,4.0
200777,200777,00-00-00,RIT-MANHATTAN,R,04/08/2017,17:00:00,REGULAR,544867,10577,732.0,6.0
200945,200945,00-00-00,RIT-ROOSEVELT,R,04/08/2017,01:00:00,REGULAR,3615367,50967,3613468.0,50967.0
200946,200946,00-00-00,RIT-ROOSEVELT,R,04/08/2017,05:00:00,REGULAR,3615371,50968,4.0,1.0
200947,200947,00-00-00,RIT-ROOSEVELT,R,04/08/2017,09:00:00,REGULAR,3615446,50968,75.0,0.0
200948,200948,00-00-00,RIT-ROOSEVELT,R,04/08/2017,13:00:00,REGULAR,3615931,50972,485.0,4.0
200949,200949,00-00-00,RIT-ROOSEVELT,R,04/08/2017,17:00:00,REGULAR,3616517,50978,586.0,6.0
223535,22338,00-00-00,53 ST,R,03/25/2017,00:00:00,REGULAR,9452466,4623625,6733833.0,3964296.0
223536,22339,00-00-00,53 ST,R,03/25/2017,04:00:00,REGULAR,9452485,4623683,19.0,58.0
223537,22340,00-00-00,53 ST,R,03/25/2017,08:00:00,REGULAR,9452693,4623766,208.0,83.0
223538,22341,00-00-00,53 ST,R,03/25/2017,12:00:00,REGULAR,9453140,4623935,447.0,169.0
223539,22342,00-00-00,53 ST,R,03/25/2017,16:00:00,REGULAR,9453476,4624123,336.0,188.0
590618,191053,00-00-00,SUTTER AV-RUTLD,3,03/17/2018,00:00:00,REGULAR,14173579,5038425,14173577.0,5037545.0
590619,191054,00-00-00,SUTTER AV-RUTLD,3,03/17/2018,04:00:00,REGULAR,14173602,5038450,23.0,25.0
590620,191055,00-00-00,SUTTER AV-RUTLD,3,03/17/2018,08:00:00,REGULAR,14173758,5038479,156.0,29.0
590621,191056,00-00-00,SUTTER AV-RUTLD,3,03/17/2018,12:00:00,REGULAR,14173972,5038590,214.0,111.0
590622,191057,00-00-00,SUTTER AV-RUTLD,3,03/17/2018,16:00:00,REGULAR,14174205,5038723,233.0,133.0
591332,191767,00-00-00,JUNIUS ST,3,03/17/2018,00:00:00,REGULAR,4508980,1394033,4031777.0,472327.0
591333,191768,00-00-00,JUNIUS ST,3,03/17/2018,04:00:00,REGULAR,4508992,1394043,12.0,10.0
591334,191769,00-00-00,JUNIUS ST,3,03/17/2018,08:00:00,REGULAR,4509035,1394057,43.0,14.0
591335,191770,00-00-00,JUNIUS ST,3,03/17/2018,12:00:00,REGULAR,4509163,1394084,128.0,27.0
591336,191771,00-00-00,JUNIUS ST,3,03/17/2018,16:00:00,REGULAR,4509312,1394122,149.0,38.0
1118536,127980,01-00-00,WTC-CORTLANDT,1,02/16/2019,00:00:00,REGULAR,21,13,-460826.0,-31225.0
1118537,127981,01-00-00,WTC-CORTLANDT,1,02/16/2019,04:00:00,REGULAR,21,13,0.0,0.0
1118538,127982,01-00-00,WTC-CORTLANDT,1,02/16/2019,08:00:00,REGULAR,21,13,0.0,0.0
1118539,127983,01-00-00,WTC-CORTLANDT,1,02/16/2019,12:00:00,REGULAR,21,13,0.0,0.0
1118540,127984,01-00-00,WTC-CORTLANDT,1,02/16/2019,16:00:00,REGULAR,21,13,0.0,0.0

In [138]:

df_3=df[1:1000].groupby(['station','date','time']).diff().reset_index()
df_3

,level_0,index,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,1,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
969,970,42.0,115233553.0,-5171321.0,109.0,112.0
970,971,42.0,115233663.0,-5171265.0,110.0,56.0
971,972,42.0,115233668.0,-5171266.0,5.0,-1.0
972,973,42.0,115233693.0,-5171251.0,25.0,15.0
973,974,42.0,115233683.0,-5171003.0,-10.0,248.0
974,975,42.0,115233676.0,-5170695.0,-7.0,308.0
975,976,42.0,115233726.0,-5170578.0,50.0,117.0
976,977,42.0,115233820.0,-5170539.0,94.0,39.0
977,978,42.0,115233823.0,-5170541.0,3.0,-2.0
978,979,42.0,115233854.0,-5169991.0,31.0,550.0
979,980,42.0,115233981.0,-5169702.0,127.0,289.0
980,981,42.0,115234292.0,-5169536.0,311.0,166.0
981,982,42.0,115234567.0,-5169384.0,275.0,152.0
982,983,42.0,115234658.0,-5169357.0,91.0,27.0
983,984,42.0,115234663.0,-5169357.0,5.0,0.0
984,985,42.0,115234686.0,-5168837.0,23.0,520.0
985,986,42.0,115234745.0,-5168532.0,59.0,305.0
986,987,42.0,115235093.0,-5168334.0,348.0,198.0
987,988,42.0,115235221.0,-5168156.0,128.0,178.0
988,989,42.0,115235334.0,-5168143.0,113.0,13.0
989,990,42.0,115235336.0,-5168141.0,2.0,2.0
990,991,42.0,115235348.0,-5167555.0,12.0,586.0
991,992,42.0,115235390.0,-5167293.0,42.0,262.0
992,993,42.0,115235451.0,-5167063.0,61.0,230.0
993,994,42.0,115235442.0,-5166913.0,-9.0,150.0
994,995,42.0,115235520.0,-5166866.0,78.0,47.0
995,996,42.0,115235525.0,-5166866.0,5.0,0.0
996,997,42.0,115235509.0,-5166371.0,-16.0,495.0
997,998,42.0,115235426.0,-5166038.0,-83.0,333.0
998,999,42.0,115235421.0,-5165817.0,-5.0,221.0

In [ ]:
df.loc[df['scp_address'] != df['scp_address']]

In [61]:
df['scp_address',1] == df['scp_address',2]

KeyError: ('scp_address', 1)