In [1]:
import pandas as pd
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:

compiled_data_directory = '../../../proj1_unsorted_data/compiled_data_unsorted.csv'
df=pd.read_csv(compiled_data_directory, header=0, names = ["index","ca","remote_unit",\
               "scp_address","station","line_name","division","date","time",\
               "description","entry_cumulative","exit_cumulative"])

In [4]:
df.head()

,index,ca,remote_unit,scp_address,station,line_name,division,date,time,description,entry_cumulative,exit_cumulative
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,00:00:00,REGULAR,6127245,2076158
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,04:00:00,REGULAR,6127285,2076165
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,08:00:00,REGULAR,6127304,2076196
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,12:00:00,REGULAR,6127409,2076284
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/08/2017,16:00:00,REGULAR,6127654,2076350

In [5]:
df2=pd.read_pickle('./turnstyle_df.zip', compression='zip')
df2.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [106]:

# df.to_pickle('turnstyle_df_3.pkl',protocol = 3)

In [68]:
df=df.drop(columns = ['ca','remote_unit','division'])

In [130]:
df['date'] = pd.to_datetime(df['date'],format = '%m/%d/%Y')

In [135]:
df['time'] = pd.to_datetime(df['time'],format = '%H:%M:%S')
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [134]:
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [72]:
df['entry_relative'] = df['entry_cumulative'].diff()
df['exit_relative'] = df['exit_cumulative'].diff()

In [17]:
df['line_name'].nunique()

114

In [12]:

df['scp_address'].nunique()
df.iloc[6961:6965]

,index,ca,remote_unit,scp_address,station,line_name,division,date,time,description,entry_cumulative,exit_cumulative
6961,6961,A043,R462,00-06-01,CANAL ST,JNQRZ6W,BMT,04/11/2017,13:00:00,REGULAR,2576803,1239098
6962,6962,A043,R462,00-06-01,CANAL ST,JNQRZ6W,BMT,04/11/2017,17:00:00,REGULAR,2577610,1239269
6963,6963,A043,R462,00-06-01,CANAL ST,JNQRZ6W,BMT,04/11/2017,21:00:00,REGULAR,2578761,1239398
6964,6964,A043,R462,00-06-01,CANAL ST,JNQRZ6W,BMT,04/12/2017,01:00:00,REGULAR,2578913,1239446

In [78]:
# df['entry_relative'].plot()

In [82]:
sus_index=df.loc[df['entry_relative']==df['entry_relative'].max()]
sus_index

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
1248069,53458,01-03-00,14 ST,ACEL,03/18/2017,01:00:00,REGULAR,2130581192,1157476857,2.123318e+09,1.148523e+09

In [16]:
# Find where turnstile addresses don't match so that diff() function won't be applied there

sus_index_num=32164
range=10
df.iloc[sus_index_num-range:sus_index_num+range]

,index,ca,remote_unit,scp_address,station,line_name,division,date,time,description,entry_cumulative,exit_cumulative
32154,32154,H001,R175,00-00-02,8 AV,ACEL,BMT,04/09/2017,13:00:00,REGULAR,13529758,7979265
32155,32155,H001,R175,00-00-02,8 AV,ACEL,BMT,04/09/2017,17:00:00,REGULAR,13530493,7979627
32156,32156,H001,R175,00-00-02,8 AV,ACEL,BMT,04/09/2017,21:00:00,REGULAR,13531296,7979852
32157,32157,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,01:00:00,REGULAR,13531534,7979911
32158,32158,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,05:00:00,REGULAR,13531566,7979925
32159,32159,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,09:00:00,REGULAR,13531787,7980110
32160,32160,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,13:00:00,REGULAR,13532261,7980410
32161,32161,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,17:00:00,REGULAR,13533155,7980764
32162,32162,H001,R175,00-00-02,8 AV,ACEL,BMT,04/10/2017,21:00:00,REGULAR,13534261,7981040
32163,32163,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,01:00:00,REGULAR,13534605,7981110
32164,32164,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,05:00:00,REGULAR,13534643,7981125
32165,32165,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,09:00:00,REGULAR,13534892,7981317
32166,32166,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,13:00:00,REGULAR,13535332,7981737
32167,32167,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,17:00:00,REGULAR,13536200,7982079
32168,32168,H001,R175,00-00-02,8 AV,ACEL,BMT,04/11/2017,21:00:00,REGULAR,13537377,7982402
32169,32169,H001,R175,00-00-02,8 AV,ACEL,BMT,04/12/2017,01:00:00,REGULAR,13537764,7982540
32170,32170,H001,R175,00-00-02,8 AV,ACEL,BMT,04/12/2017,05:00:00,REGULAR,13537801,7982553
32171,32171,H001,R175,00-00-02,8 AV,ACEL,BMT,04/12/2017,09:00:00,REGULAR,13538002,7982747
32172,32172,H001,R175,00-00-02,8 AV,ACEL,BMT,04/12/2017,13:00:00,REGULAR,13538514,7983082
32173,32173,H001,R175,00-00-02,8 AV,ACEL,BMT,04/12/2017,17:00:00,REGULAR,13539358,7983390

In [138]:

df_3=df[1:1000].groupby(['station','date','time']).diff().reset_index()
df_3

,level_0,index,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,1,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
969,970,42.0,115233553.0,-5171321.0,109.0,112.0
970,971,42.0,115233663.0,-5171265.0,110.0,56.0
971,972,42.0,115233668.0,-5171266.0,5.0,-1.0
972,973,42.0,115233693.0,-5171251.0,25.0,15.0
973,974,42.0,115233683.0,-5171003.0,-10.0,248.0
974,975,42.0,115233676.0,-5170695.0,-7.0,308.0
975,976,42.0,115233726.0,-5170578.0,50.0,117.0
976,977,42.0,115233820.0,-5170539.0,94.0,39.0
977,978,42.0,115233823.0,-5170541.0,3.0,-2.0
978,979,42.0,115233854.0,-5169991.0,31.0,550.0
979,980,42.0,115233981.0,-5169702.0,127.0,289.0
980,981,42.0,115234292.0,-5169536.0,311.0,166.0
981,982,42.0,115234567.0,-5169384.0,275.0,152.0
982,983,42.0,115234658.0,-5169357.0,91.0,27.0
983,984,42.0,115234663.0,-5169357.0,5.0,0.0
984,985,42.0,115234686.0,-5168837.0,23.0,520.0
985,986,42.0,115234745.0,-5168532.0,59.0,305.0
986,987,42.0,115235093.0,-5168334.0,348.0,198.0
987,988,42.0,115235221.0,-5168156.0,128.0,178.0
988,989,42.0,115235334.0,-5168143.0,113.0,13.0
989,990,42.0,115235336.0,-5168141.0,2.0,2.0
990,991,42.0,115235348.0,-5167555.0,12.0,586.0
991,992,42.0,115235390.0,-5167293.0,42.0,262.0
992,993,42.0,115235451.0,-5167063.0,61.0,230.0
993,994,42.0,115235442.0,-5166913.0,-9.0,150.0
994,995,42.0,115235520.0,-5166866.0,78.0,47.0
995,996,42.0,115235525.0,-5166866.0,5.0,0.0
996,997,42.0,115235509.0,-5166371.0,-16.0,495.0
997,998,42.0,115235426.0,-5166038.0,-83.0,333.0
998,999,42.0,115235421.0,-5165817.0,-5.0,221.0

In [ ]:
df.loc[df['scp_address'] != df['scp_address']]

In [61]:
df['scp_address',1] == df['scp_address',2]

KeyError: ('scp_address', 1)