In [209]:
import datetime as dt
import pandas as pd

In [210]:
df=pd.read_pickle('./turnstyle_df.zip', compression='zip')
df.head()

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative,entry_relative,exit_relative
0,0,02-00-00,59 ST,NQR456W,04/08/2017,00:00:00,REGULAR,6127245,2076158,NaN,NaN
1,1,02-00-00,59 ST,NQR456W,04/08/2017,04:00:00,REGULAR,6127285,2076165,40.0,7.0
2,2,02-00-00,59 ST,NQR456W,04/08/2017,08:00:00,REGULAR,6127304,2076196,19.0,31.0
3,3,02-00-00,59 ST,NQR456W,04/08/2017,12:00:00,REGULAR,6127409,2076284,105.0,88.0
4,4,02-00-00,59 ST,NQR456W,04/08/2017,16:00:00,REGULAR,6127654,2076350,245.0,66.0

In [211]:
df['time'] = pd.to_datetime(df['time'],format = '%H:%M:%S')
df['date'] = pd.to_datetime(df['date'],format = '%m/%d/%Y')

In [212]:
df=df.drop(columns = ['entry_relative','exit_relative'])

In [213]:
# df.drop(columns=['station','scp_address'])
df

,index,scp_address,station,line_name,date,time,description,entry_cumulative,exit_cumulative
0,0,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 00:00:00,REGULAR,6127245,2076158
1,1,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 04:00:00,REGULAR,6127285,2076165
2,2,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 08:00:00,REGULAR,6127304,2076196
3,3,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 12:00:00,REGULAR,6127409,2076284
4,4,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 16:00:00,REGULAR,6127654,2076350
5,5,02-00-00,59 ST,NQR456W,2017-04-08,1900-01-01 20:00:00,REGULAR,6128002,2076398
6,6,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 00:00:00,REGULAR,6128172,2076417
7,7,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 04:00:00,REGULAR,6128213,2076419
8,8,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 08:00:00,REGULAR,6128226,2076440
9,9,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 12:00:00,REGULAR,6128293,2076512
10,10,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 16:00:00,REGULAR,6128475,2076556
11,11,02-00-00,59 ST,NQR456W,2017-04-09,1900-01-01 20:00:00,REGULAR,6128747,2076614
12,12,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 00:00:00,REGULAR,6128894,2076644
13,13,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 04:00:00,REGULAR,6128899,2076647
14,14,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 08:00:00,REGULAR,6128930,2076742
15,15,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 12:00:00,REGULAR,6129094,2077006
16,16,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 16:00:00,REGULAR,6129425,2077079
17,17,02-00-00,59 ST,NQR456W,2017-04-10,1900-01-01 20:00:00,REGULAR,6130163,2077140
18,18,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 00:00:00,REGULAR,6130400,2077160
19,19,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 04:00:00,REGULAR,6130418,2077163
20,20,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 08:00:00,REGULAR,6130464,2077257
21,21,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 12:00:00,REGULAR,6130613,2077478
22,22,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 16:00:00,REGULAR,6130896,2077564
23,23,02-00-00,59 ST,NQR456W,2017-04-11,1900-01-01 20:00:00,REGULAR,6131601,2077620
24,24,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 00:00:00,REGULAR,6131824,2077642
25,25,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 04:00:00,REGULAR,6131841,2077647
26,26,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 08:00:00,REGULAR,6131882,2077742
27,27,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 12:00:00,REGULAR,6132037,2077948
28,28,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 16:00:00,REGULAR,6132340,2078018
29,29,02-00-00,59 ST,NQR456W,2017-04-12,1900-01-01 20:00:00,REGULAR,6133044,2078066
...,...,...,...,...,...,...,...,...,...
2179883,197331,00-05-01,RIT-ROOSEVELT,R,2017-04-16,1900-01-01 21:00:00,REGULAR,5554,295
2179884,197332,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 01:00:00,REGULAR,5554,295
2179885,197333,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 05:00:00,REGULAR,5554,295
2179886,197334,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 09:00:00,REGULAR,5554,295
2179887,197335,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 13:00:00,REGULAR,5554,295
2179888,197336,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 17:00:00,REGULAR,5554,295
2179889,197337,00-05-01,RIT-ROOSEVELT,R,2017-04-17,1900-01-01 21:00:00,REGULAR,5554,295
2179890,197338,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 05:00:00,REGULAR,5554,295
2179891,197339,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 09:00:00,REGULAR,5554,295
2179892,197340,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 13:00:00,REGULAR,5554,297
2179893,197341,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 17:00:00,REGULAR,5554,297
2179894,197342,00-05-01,RIT-ROOSEVELT,R,2017-04-18,1900-01-01 21:00:00,REGULAR,5554,297
2179895,197343,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 01:00:00,REGULAR,5554,297
2179896,197344,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 05:00:00,REGULAR,5554,297
2179897,197345,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 09:00:00,REGULAR,5554,297
2179898,197346,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 13:00:00,REGULAR,5554,297
2179899,197347,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 17:00:00,REGULAR,5554,297
2179900,197348,00-05-01,RIT-ROOSEVELT,R,2017-04-19,1900-01-01 21:00:00,REGULAR,5554,297
2179901,197349,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 01:00:00,REGULAR,5554,297
2179902,197350,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 05:00:00,REGULAR,5554,297
2179903,197351,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 09:00:00,REGULAR,5554,297
2179904,197352,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 13:00:00,REGULAR,5554,297
2179905,197353,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 17:00:00,REGULAR,5554,297
2179906,197354,00-05-01,RIT-ROOSEVELT,R,2017-04-20,1900-01-01 21:00:00,REGULAR,5554,297
2179907,197355,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 01:00:00,REGULAR,5554,297
2179908,197356,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 05:00:00,REGULAR,5554,297
2179909,197357,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 09:00:00,REGULAR,5554,297
2179910,197358,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 13:00:00,REGULAR,5554,297
2179911,197359,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 17:00:00,REGULAR,5554,297
2179912,197360,00-05-01,RIT-ROOSEVELT,R,2017-04-21,1900-01-01 21:00:00,REGULAR,5554,297

In [214]:
df_sample = df[:65000].groupby(['station','line_name','scp_address','date']).apply(pd.DataFrame.sort_values,'time')
df_sample=df_sample.drop(columns = ['scp_address','station','line_name'])
#.groupby(['station','scp_address']).diff()
df_sample

                                                        index       date  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027  33027 2017-04-08
                                                 33028  33028 2017-04-08
                                                 33029  33029 2017-04-08
                                                 33030  33030 2017-04-08
                                                 33031  33031 2017-04-08
                                                 33032  33032 2017-04-08
                                      2017-04-09 33033  33033 2017-04-09
                                                 33034  33034 2017-04-09
                                                 33035  33035 2017-04-09
                                                 33036  33036 2017-04-09
                                                 33037  33037 2017-04-09
                                                 33038  33038 2017-04-09
                                      2017-04-10 33039  33039 2017-04-10
                                                 33040  33040 2017-04-10
                                                 33041  33041 2017-04-10
                                                 33042  33042 2017-04-10
                                                 33043  33043 2017-04-10
                                                 33044  33044 2017-04-10
                                      2017-04-11 33045  33045 2017-04-11
                                                 33046  33046 2017-04-11
                                                 33047  33047 2017-04-11
                                                 33048  33048 2017-04-11
                                                 33049  33049 2017-04-11
                                                 33050  33050 2017-04-11
                                      2017-04-12 33051  33051 2017-04-12
                                                 33052  33052 2017-04-12
                                                 33053  33053 2017-04-12
                                                 33054  33054 2017-04-12
                                                 33055  33055 2017-04-12
                                                 33056  33056 2017-04-12
...                                                       ...        ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986  60986 2017-04-10
                                                 60987  60987 2017-04-10
                                                 60988  60988 2017-04-10
                                                 60989  60989 2017-04-10
                                                 60990  60990 2017-04-10
                                                 60991  60991 2017-04-10
                                      2017-04-11 60992  60992 2017-04-11
                                                 60993  60993 2017-04-11
                                                 60994  60994 2017-04-11
                                                 60995  60995 2017-04-11
                                                 60996  60996 2017-04-11
                                                 60997  60997 2017-04-11
                                      2017-04-12 60998  60998 2017-04-12
                                                 60999  60999 2017-04-12
                                                 61000  61000 2017-04-12
                                                 61001  61001 2017-04-12
                                                 61002  61002 2017-04-12
                                                 61003  61003 2017-04-12
                                      2017-04-13 61004  61004 2017-04-13
                                                 61005  61005 2017-04-13
                                                 61006  61006 2017-04-13
                                                 61007  61007 2017-04-13
                                                 61008  61008 2017-04-13
                                                 61009  61009 2017-04-13
                                      2017-04-14 61010  61010 2017-04-14
                                                 61011  61011 2017-04-14
                                                 61012  61012 2017-04-14
                                                 61013  61013 2017-04-14
                                                 61014  61014 2017-04-14
                                                 61015  61015 2017-04-14

                                                                      time  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027 1900-01-01 00:00:00
                                                 33028 1900-01-01 04:00:00
                                                 33029 1900-01-01 08:00:00
                                                 33030 1900-01-01 12:00:00
                                                 33031 1900-01-01 16:00:00
                                                 33032 1900-01-01 20:00:00
                                      2017-04-09 33033 1900-01-01 00:00:00
                                                 33034 1900-01-01 04:00:00
                                                 33035 1900-01-01 08:00:00
                                                 33036 1900-01-01 12:00:00
                                                 33037 1900-01-01 16:00:00
                                                 33038 1900-01-01 20:00:00
                                      2017-04-10 33039 1900-01-01 00:00:00
                                                 33040 1900-01-01 04:00:00
                                                 33041 1900-01-01 08:00:00
                                                 33042 1900-01-01 12:00:00
                                                 33043 1900-01-01 16:00:00
                                                 33044 1900-01-01 20:00:00
                                      2017-04-11 33045 1900-01-01 00:00:00
                                                 33046 1900-01-01 04:00:00
                                                 33047 1900-01-01 08:00:00
                                                 33048 1900-01-01 12:00:00
                                                 33049 1900-01-01 16:00:00
                                                 33050 1900-01-01 20:00:00
                                      2017-04-12 33051 1900-01-01 00:00:00
                                                 33052 1900-01-01 04:00:00
                                                 33053 1900-01-01 08:00:00
                                                 33054 1900-01-01 12:00:00
                                                 33055 1900-01-01 16:00:00
                                                 33056 1900-01-01 20:00:00
...                                                                    ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986 1900-01-01 00:00:00
                                                 60987 1900-01-01 04:00:00
                                                 60988 1900-01-01 08:00:00
                                                 60989 1900-01-01 12:00:00
                                                 60990 1900-01-01 16:00:00
                                                 60991 1900-01-01 20:00:00
                                      2017-04-11 60992 1900-01-01 00:00:00
                                                 60993 1900-01-01 04:00:00
                                                 60994 1900-01-01 08:00:00
                                                 60995 1900-01-01 12:00:00
                                                 60996 1900-01-01 16:00:00
                                                 60997 1900-01-01 20:00:00
                                      2017-04-12 60998 1900-01-01 00:00:00
                                                 60999 1900-01-01 04:00:00
                                                 61000 1900-01-01 08:00:00
                                                 61001 1900-01-01 12:00:00
                                                 61002 1900-01-01 16:00:00
                                                 61003 1900-01-01 20:00:00
                                      2017-04-13 61004 1900-01-01 00:00:00
                                                 61005 1900-01-01 04:00:00
                                                 61006 1900-01-01 08:00:00
                                                 61007 1900-01-01 12:00:00
                                                 61008 1900-01-01 16:00:00
                                                 61009 1900-01-01 20:00:00
                                      2017-04-14 61010 1900-01-01 00:00:00
                                                 61011 1900-01-01 04:00:00
                                                 61012 1900-01-01 08:00:00
                                                 61013 1900-01-01 12:00:00
                                                 61014 1900-01-01 16:00:00
                                                 61015 1900-01-01 20:00:00

                                                       description  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027     REGULAR
                                                 33028     REGULAR
                                                 33029     REGULAR
                                                 33030     REGULAR
                                                 33031     REGULAR
                                                 33032     REGULAR
                                      2017-04-09 33033     REGULAR
                                                 33034     REGULAR
                                                 33035     REGULAR
                                                 33036     REGULAR
                                                 33037     REGULAR
                                                 33038     REGULAR
                                      2017-04-10 33039     REGULAR
                                                 33040     REGULAR
                                                 33041     REGULAR
                                                 33042     REGULAR
                                                 33043     REGULAR
                                                 33044     REGULAR
                                      2017-04-11 33045     REGULAR
                                                 33046     REGULAR
                                                 33047     REGULAR
                                                 33048     REGULAR
                                                 33049     REGULAR
                                                 33050     REGULAR
                                      2017-04-12 33051     REGULAR
                                                 33052     REGULAR
                                                 33053     REGULAR
                                                 33054     REGULAR
                                                 33055     REGULAR
                                                 33056     REGULAR
...                                                            ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986     REGULAR
                                                 60987     REGULAR
                                                 60988     REGULAR
                                                 60989     REGULAR
                                                 60990     REGULAR
                                                 60991     REGULAR
                                      2017-04-11 60992     REGULAR
                                                 60993     REGULAR
                                                 60994     REGULAR
                                                 60995     REGULAR
                                                 60996     REGULAR
                                                 60997     REGULAR
                                      2017-04-12 60998     REGULAR
                                                 60999     REGULAR
                                                 61000     REGULAR
                                                 61001     REGULAR
                                                 61002     REGULAR
                                                 61003     REGULAR
                                      2017-04-13 61004     REGULAR
                                                 61005     REGULAR
                                                 61006     REGULAR
                                                 61007     REGULAR
                                                 61008     REGULAR
                                                 61009     REGULAR
                                      2017-04-14 61010     REGULAR
                                                 61011     REGULAR
                                                 61012     REGULAR
                                                 61013     REGULAR
                                                 61014     REGULAR
                                                 61015     REGULAR

                                                        entry_cumulative  \
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027          12209707
                                                 33028          12209826
                                                 33029          12209921
                                                 33030          12210425
                                                 33031          12211030
                                                 33032          12211747
                                      2017-04-09 33033          12212161
                                                 33034          12212292
                                                 33035          12212347
                                                 33036          12212717
                                                 33037          12213380
                                                 33038          12213903
                                      2017-04-10 33039          12214226
                                                 33040          12214262
                                                 33041          12214570
                                                 33042          12215655
                                                 33043          12216349
                                                 33044          12217211
                                      2017-04-11 33045          12217546
                                                 33046          12217582
                                                 33047          12217886
                                                 33048          12218930
                                                 33049          12219633
                                                 33050          12219930
                                      2017-04-12 33051          12220315
                                                 33052          12220362
                                                 33053          12220689
                                                 33054          12221841
                                                 33055          12222452
                                                 33056          12223133
...                                                                  ...
WORLD TRADE CTR ACE23     01-06-04    2017-04-10 60986           1917104
                                                 60987           1917107
                                                 60988           1917136
                                                 60989           1917248
                                                 60990           1917383
                                                 60991           1917751
                                      2017-04-11 60992           1917790
                                                 60993           1917793
                                                 60994           1917821
                                                 60995           1917909
                                                 60996           1918048
                                                 60997           1918430
                                      2017-04-12 60998           1918470
                                                 60999           1918478
                                                 61000           1918497
                                                 61001           1918617
                                                 61002           1918715
                                                 61003           1919053
                                      2017-04-13 61004           1919090
                                                 61005           1919092
                                                 61006           1919109
                                                 61007           1919204
                                                 61008           1919332
                                                 61009           1919781
                                      2017-04-14 61010           1919832
                                                 61011           1919835
                                                 61012           1919849
                                                 61013           1919930
                                                 61014           1920133
                                                 61015           1920413

                                                        exit_cumulative
station         line_name scp_address date
1 AV            L         00-00-00    2017-04-08 33027         13446969
                                                 33028         13447245
                                                 33029         13447514
                                                 33030         13448272
                                                 33031         13449354
                                                 33032         13450675
                                      2017-04-09 33033         13451680
                                                 33034         13452055
                                                 33035         13452252
                                                 33036         13452808
                                                 33037         13453812
                                                 33038         13454729
                                      2017-04-10 33039         13455252
                                                 33040         13455321
                                                 33041         13456013
                                                 33042         13457161
                                                 33043         13457997
                                                 33044         13458748
                                      2017-04-11 33045         13459199
                                                 33046         13459311
                                                 33047         13460066
                                                 33048         13461025
                                                 33049         13461854
                                                 33050         13462436
                                      2017-04-12 33051         13463005

In [215]:
df_differences=df_sample.groupby(['station','line_name','scp_address']).diff()
df_differences.shape

(65000, 5)

In [216]:
df_differences=df_differences.rename(index = str,columns = {'time':'time_delta','entry_cumulative':'entry_relative','exit_cumulative':'exit_relative'})

In [217]:
# df_outliers=df_differences.loc[(df_differences['time'] != dt.timedelta(days=-1,hours=4)) & (df_differences['time'] != dt.timedelta(hours = 4))]

In [177]:
# df_outliers.unstack().shape

(1973, 40540)

In [219]:
#df_outliers.index.tolist()[1][3]
#df_outliers.sample(500)

In [103]:
#len(df_outliers.index.tolist())

12373

In [227]:

#sus_index_num=64000
#range=10
#df_sample.iloc[sus_index_num-range:sus_index_num+range]

In [230]:
df_sample.shape
df_differences.columns

Index(['index', 'date', 'time_delta', 'entry_relative', 'exit_relative'], dtype='object')

In [228]:
df_sample_with_deltas=df_sample.join(df_differences[['time_delta', 'entry_relative', 'exit_relative']])

In [203]:
df_outliers_sample=df_sample.loc[(df_sample['time_delta'] != dt.timedelta(days=-1,hours=4)) & (df_sample['time_delta'] != dt.timedelta(hours = 4))]

KeyError: 'time_delta'

In [207]:
df_outliers_sample.shape

(65000, 6)